/* INDEX
 * 01 - GENERAL
 * 02 - HEADER
 * 03 - CAROUSEL
 * 04 - INICIO
 * 05 - ALARMAS
 * 00 - FOOTER */
/* -------------- 01 - GENERAL -------------- */
body {
  background-color: #E9E9E9;
  font-size: 16px;
  font-family: arial, geneva, sans-serif;
  min-height: 900px;
}

.hide {
  position: absolute;
  text-indent: -9999px;
  left: -9999px;
}

.center {
  text-align: center;
}

.img-responsive {
  height: auto;
  width: 100%;
}

/* ------------------ 02 - HEADER ------------------ */
.header {
  position: relative;
  width: 100%;
  height: 129px;
  z-index: 10;
}

.header .left-background {
  top: -1px;
  left: 0;
  position: absolute;
  z-index: 10;
  width: 40%;
  height: 129px;
  background: url(../images/header/left-background.jpg) repeat-x left center;
}

.header .middle-background {
  position: absolute;
  top: -1px;
  left: 40%;
  height: 129px;
  width: 126px;
  background: url(../images/header/middle-background.png) no-repeat left center;
  z-index: 20;
}

.header .right-background {
  background-color: #feffff;
  height: 12px;
  width: 100%;
  position: relative;
  top: 116px;
  z-index: 0;
  box-shadow: 0 7px 0 #cb591e;
}

.header .logo {
  position: absolute;
  top: 10px;
  left: 40%;
  margin-left: -255px;
  width: 315px;
  z-index: 30;
}

.header .logo img {
  max-width: 100%;
  height: auto;
}

.header .main-menu {
  width: 100%;
  position: absolute;
  bottom: -56px;
  z-index: 40;
}

.header .main-menu ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: 0 auto;
  width: 60%;
}

.header .main-menu ul li {
  position: relative;
  height: 50px;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  text-align: center;
  display: block;
}

.header .main-menu ul li:last-child {
  border-right: none;
}

.header .main-menu ul li a {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  padding: 14px 0;
  letter-spacing: 2px;
  width: 100%;
}

.header .main-menu ul li a:hover {
  background-color: rgba(181, 79, 27, 0.8);
  font-weight: bold;
}

.header .main-menu ul li.active a {
  color: #cb591e;
  font-weight: bold;
}

.header .main-menu ul li.active a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.header .main-menu ul li:before {
  background-color: #818385;
  content: "";
  height: 10px;
  position: absolute;
  width: 2px;
  box-shadow: 0 40px 0 0 #818385;
  z-index: 1;
  right: 0;
}

.header .main-menu ul li:last-child:before {
  display: none;
}

.header .address {
  color: #ffffff;
  height: 116px;
  position: absolute;
  top: 0;
  left: 50%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .address .left-column {
  margin-right: 7px;
}

.header .address i.icon-mark:before,
.header .address i.icon-mail:before,
.header .address i.icon-phone:before {
  position: relative;
  top: 2px;
  padding-right: 5px;
  font-size: 18px;
}

.header .address p {
  margin-bottom: 10px;
  font-size: .95em;
}

.header .address .social-icons {
  margin-top: 10px;
}

.header .address .social-icons > div {
  display: inline-block;
  margin-right: 2px;
  height: 30px;
  width: 30px;
}

.header .address .social-icons > div a {
  text-decoration: none;
}

.header .address .social-icons > div i {
  color: #ffffff;
  position: relative;
  font-size: 22px;
}

.header .address .social-icons > div i:before {
  position: relative;
  top: 5px;
  left: 3px;
}

.header .address .social-icons .twitter {
  background-color: #62aee6;
}

.header .address .social-icons .facebook {
  background-color: #243f8b;
}

.header .address .social-icons .youtube {
  background-color: #db1f25;
}

.header .address .social-icons .youtube i:before {
  top: 5px;
}

.header .address .social-icons .google-plus {
  background-color: #da4835;
}

/* --------- 03 - CAROUSEL --------- */
.carousel {
  width: 100%;
  position: relative;
  top: -129px;
  margin-bottom: -129px;
  z-index: 0;
}

.carousel .zig-zag-form {
  position: absolute;
  bottom: -5px;
  z-index: 5;
}

.carousel .zig-zag-form img {
  height: auto;
  width: 100%;
}

.carousel .custom-controls-container {
  position: absolute;
  bottom: 25%;
  width: 100%;
  z-index: 10;
}

.flexslider {
  background-color: none;
  border: none;
}

.left-chevron,
.right-chevron {
  position: absolute;
  z-index: -1;
}

/* ------------------ 04 - INICIO ------------------ */
.content {
  width: 60%;
  margin: 0 auto;
}

.content .security-comfort {
  text-align: center;
}

.content .security-comfort h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-bottom: 0.5em;
  color: #3c3c3c;
}

.content .security-comfort p {
  font-family: Arial, Geneva, sans-serif;
  color: #7d7d7d;
  font-size: 17px;
  margin-bottom: 1em;
}

.content .alarm-controls h2 {
  color: #0f1217;
  font-family: 'Montserrat', sans-serif;
  font-size: 27px;
  text-align: center;
  margin-bottom: 0;
}

.alarms-audio-confort {
  margin-bottom: -4px;
}

.avital-products {
  margin-bottom: -4px;
}

.alarms-specialists {
  border-top: solid 8px #cb591e;
  margin-bottom: -4px;
}

.viper-clifford-features {
  padding: 15px 20px 30px;
  background-color: #ffffff;
}

.viper-clifford-features .wrapper {
  margin: 0 auto;
  width: 60%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.viper-clifford-features .wrapper .clifford-features {
  -webkit-flex: 0 0 49%;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
}

.viper-clifford-features .wrapper .text {
  -webkit-flex: 0 0 49%;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
}

.viper-clifford-features .wrapper .text h2 {
  color: #3f3f3f;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin-bottom: .25em;
}

.viper-clifford-features .wrapper .text p {
  font-size: 16px;
  text-align: left;
  color: #7d7d7d;
  text-align: justify;
  line-height: 20px;
}

.content {
  width: 100%;
}

.content .alarms {
  margin: 0 auto;
  width: 60%;
  margin-bottom: 1.5em;
}

.content .alarms h2 {
  width: 100%;
  background-color: #cb591e;
  color: #ffffff;
  text-align: center;
  font-size: 2em;
  padding: .25em 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
  margin-bottom: 1em;
}

.content .alarms .row {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5em;
}

.content .alarms .row .column {
  position: relative;
  -webkit-flex: 0 1 24%;
      -ms-flex: 0 1 24%;
          flex: 0 1 24%;
}

.content .alarms .row .column .box {
  border: 1px solid #cb591e;
  height: 180px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  z-index: 0;
}

.content .alarms .row .column .box:after {
  content: "";
  background-color: transparent;
  opacity: .6;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
  width: 180px;
  height: 100px;
  border-radius: 0 0 100px 100px;
  position: absolute;
  left: 10px;
  bottom: 0;
  z-index: -1;
}

.content .alarms .row .column img {
  width: 100%;
  height: 100%;
}

.content .alarms .row .column img.moto-x {
  width: 95px;
  height: auto;
}

.content .alarms .row .column .title-botton {
  height: 50px;
  width: 100%;
  background-color: rgba(203, 89, 30, 0.9);
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
}

.content .alarms .row .column .title-botton h3 {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  width: 100%;
}

.content .alarms .row .column .title-botton a.button {
  color: #424242;
  text-decoration: none;
  background-color: #ffffff;
  display: block;
  padding: 5px;
  font-size: 14px;
  position: relative;
  padding-left: 22px;
  margin-left: 5px;
}

.content .alarms .row .column .title-botton a.button:hover {
  background-color: #424242;
  color: #ffffff;
}

.content .alarms .row .column .title-botton a.button:before {
  content: "+";
  color: #ffffff;
  height: 17px;
  width: 17px;
  background-color: #424242;
  border-radius: 25px;
  position: absolute;
  padding: 0 0 0 4px;
  left: 3px;
}

/* ------------ 00 - FOOTER ------------ */
.footer {
  background-color: #04090F;
  color: #ffffff;
  text-align: center;
  padding: 1em 0;
  letter-spacing: 1px;
}

.footer .copyright {
  margin-bottom: .5em;
}

.footer .created-by .global-net-studio-logo {
  position: relative;
  top: 4px;
}

/*# sourceMappingURL=styles.css.map */