/* INDEX
 * 01 - GENERAL
 * 02 - HEADER
 * 03 - CAROUSEL
 * 04 - INICIO
 * 05 - ALARMAS
 * 06 - AUDIO
 * 07 - CONFORT
 * 08 - CONTACTO
 * 09 - FOOTER */
/* ------------ FLEXSLIDER ------------ */
.flexslider .slides > li {
  position: relative;
  z-index: 0;
}

.flex-caption {
  color: #fff;
  text-align: center;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  font-weight: bold;
  z-index: 1;
}

.form-errors {
  font-size: 14px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  margin: 1em auto 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.form-errors p {
  margin-bottom: 1em;
}

.form-errors ul {
  margin-left: 2em;
  list-style-type: disc;
}

input.inputError,
textarea.inputError,
input.error,
textarea.error {
  border: solid 1px #a94442 !important;
  background-color: #f2dede;
}

label.error {
  display: block;
  color: #a94442;
  font-size: 13px;
  margin-bottom: .75em;
  padding-left: 1em;
}

@media (max-width: 599px) {
  .form-errors {
    font-size: 13px;
    width: 95%;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .form-errors {
    font-size: 13px;
    width: 80%;
  }
}

/* -------------- 01 - GENERAL -------------- */
html, body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: arial, geneva, sans-serif;
  min-height: 900px;
}

.hide {
  position: absolute;
  text-indent: -9999px;
  left: -9999px;
}

.center {
  text-align: center;
}

.img-responsive {
  height: auto;
  width: 100%;
}

b {
  font-weight: bold;
}

/* ------------------ 02 - HEADER ------------------ */
.header {
  position: relative;
  width: 100%;
  height: 129px;
  z-index: 10;
}

.header .left-background {
  top: -1px;
  left: 0;
  position: absolute;
  z-index: 10;
  width: 40%;
  height: 129px;
  background: url(../images/header/left-background.jpg) repeat-x left center;
}

.header .middle-background {
  position: absolute;
  top: -1px;
  left: 40%;
  height: 129px;
  width: 126px;
  background: url(../images/header/middle-background.png) no-repeat left center;
  z-index: 20;
}

.header .right-background {
  background-color: #feffff;
  height: 12px;
  width: 100%;
  position: relative;
  top: 116px;
  z-index: 0;
  box-shadow: 0 7px 0 #cb591e;
}

.header .logo {
  position: absolute;
  top: 10px;
  left: 40%;
  margin-left: -255px;
  width: 315px;
  z-index: 30;
}

.header .logo img {
  max-width: 100%;
  height: auto;
}

.header .main-menu {
  width: 100%;
  position: absolute;
  bottom: -56px;
  z-index: 40;
}

.header .main-menu #menu-button {
  display: none;
}

.header .main-menu ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: 0 auto;
  width: 900px;
}

.header .main-menu ul li {
  position: relative;
  height: 50px;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  text-align: center;
  display: block;
}

.header .main-menu ul li:last-child {
  border-right: none;
}

.header .main-menu ul li a {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  padding: 14px 0;
  letter-spacing: 2px;
  width: 100%;
  transition: all .5s;
}

.header .main-menu ul li a:hover {
  background-color: rgba(181, 79, 27, 0.8);
}

.header .main-menu ul li.active a {
  color: #cb591e;
  font-weight: bold;
}

.header .main-menu ul li.active a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.header .main-menu ul li:before {
  background-color: #818385;
  content: "";
  height: 10px;
  position: absolute;
  width: 2px;
  box-shadow: 0 40px 0 0 #818385;
  z-index: 1;
  right: 0;
}

.header .main-menu ul li:last-child:before {
  display: none;
}

.header .address {
  color: #ffffff;
  height: 116px;
  position: absolute;
  top: 0;
  left: 50%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .address .left-column {
  margin-right: 7px;
}

.header .address i.icon-mark:before,
.header .address i.icon-mail:before,
.header .address i.icon-phone:before {
  position: relative;
  top: 2px;
  padding-right: 5px;
  font-size: 18px;
}

.header .address p {
  margin-bottom: 10px;
  font-size: .95em;
}

.header .address .social-icons {
  margin-top: 10px;
}

.header .address .social-icons > div {
  display: inline-block;
  margin-right: 2px;
  height: 30px;
  width: 30px;
}

.header .address .social-icons > div a {
  text-decoration: none;
}

.header .address .social-icons > div i {
  color: #ffffff;
  position: relative;
  font-size: 22px;
}

.header .address .social-icons > div i:before {
  position: relative;
  top: 5px;
  left: 3px;
}

.header .address .social-icons .twitter {
  background-color: #62aee6;
}

.header .address .social-icons .facebook {
  background-color: #243f8b;
}

.header .address .social-icons .youtube {
  background-color: #db1f25;
}

.header .address .social-icons .youtube i:before {
  top: 5px;
}

.header .address .social-icons .google-plus {
  background-color: #da4835;
}

/* --------- 03 - CAROUSEL --------- */
.carousel {
  width: 100%;
  position: relative;
  top: -129px;
  margin-bottom: -129px;
  z-index: 0;
}

.carousel img {
  width: 100%;
}

.carousel .zig-zag-form {
  position: absolute;
  bottom: -6px;
  z-index: 5;
}

.carousel .zig-zag-form img {
  height: auto;
  width: 100%;
}

.carousel .custom-controls-container {
  position: absolute;
  bottom: 25%;
  width: 100%;
  z-index: 10;
}

.flexslider {
  background-color: none;
  border: none;
}

.left-chevron,
.right-chevron {
  position: absolute;
  z-index: -1;
}

/* ------------------ 04 - INICIO ------------------ */
.security-alarms-group {
  background: #E9E9E9;
}

.security-alarms-group .security-comfort,
.security-alarms-group .alarm-controls {
  width: 900px;
  margin: 0 auto;
}

.security-comfort {
  text-align: center;
}

.security-comfort h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-bottom: 0.5em;
  color: #3c3c3c;
}

.security-comfort p {
  font-family: Arial, Geneva, sans-serif;
  color: #7d7d7d;
  font-size: 17px;
  margin-bottom: 1em;
}

.alarm-controls h2 {
  color: #0f1217;
  font-family: 'Montserrat', sans-serif;
  font-size: 27px;
  text-align: center;
  margin-bottom: 0;
}

.alarms-audio-confort {
  margin-bottom: -5px;
}

.avital-products {
  margin-bottom: -5px;
}

.alarms-specialists {
  border-top: solid 8px #cb591e;
  margin-bottom: -5px;
}

.viper-clifford-features {
  padding: 15px 20px 30px;
  background-color: #ffffff;
  margin: 0 auto;
  width: 900px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.viper-clifford-features .clifford-features {
  -webkit-flex: 0 1 49%;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
}

.viper-clifford-features .clifford-features img {
  width: 100%;
  max-width: 520px;
}

.viper-clifford-features .description {
  -webkit-flex: 0 1 49%;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
}

.viper-clifford-features .description h2 {
  color: #3f3f3f;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin-bottom: .25em;
}

.viper-clifford-features .description p {
  font-size: 16px;
  text-align: left;
  color: #7d7d7d;
  text-align: justify;
  line-height: 20px;
}

.alarms {
  margin: 0 auto;
  width: 900px;
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  border-bottom: solid 1px #ccc;
}

.alarms h2 {
  width: 100%;
  background-color: #cb591e;
  color: #ffffff;
  text-align: center;
  font-size: 2em;
  padding: .25em 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
  margin-bottom: 1em;
}

.alarms .row {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5em;
}

.alarms .row .column {
  position: relative;
  -webkit-flex: 0 1 24%;
      -ms-flex: 0 1 24%;
          flex: 0 1 24%;
}

.alarms .row .column .box {
  background-color: #ffffff;
  border: 1px solid #cb591e;
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 0;
}

.alarms .row .column .box:after {
  background-color: transparent;
  border-radius: 0 0 100px 100px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
  content: "";
  height: 100px;
  opacity: .6;
  width: 170px;
  position: absolute;
  left: 20px;
  bottom: 0;
  z-index: -1;
}

.alarms .row .column img {
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  height: auto;
}

.alarms .row .column img.moto-x {
  width: 95px;
  height: auto;
}

.alarms .row .column .title-botton {
  height: 50px;
  width: 100%;
  background-color: rgba(203, 89, 30, 0.9);
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
}

.alarms .row .column .title-botton h3 {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  width: 100%;
}

.alarms .row .column .title-botton a.button {
  color: #424242;
  text-decoration: none;
  background-color: #ffffff;
  display: none;
  padding: 5px;
  font-size: 14px;
  position: relative;
  padding-left: 5px;
  margin-left: 5px;
  transition: all .5s;
}

.alarms .row .column .title-botton a.button:hover {
  background-color: #424242;
  color: #ffffff;
}

.alarms .row .column .title-botton a.button i.icon-plus-circle {
  display: none;
  display-position: relative;
  display-top: 2px;
}

.protect {
  margin: 0 auto 2em;
  padding: 1em;
  padding-bottom: 2em;
  border-bottom: solid 1px #ccc;
  width: 900px;
}

.protect .protect-logo {
  text-align: center;
  margin-bottom: 1em;
}

.protect .banners-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.protect .banners-wrapper .banner-v2,
.protect .banners-wrapper .banner-v4 {
  width: 49%;
}

.protect .banners-wrapper .banner-v2 img,
.protect .banners-wrapper .banner-v4 img {
  max-width: 490px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.logos-wrapper,
.banners-wrapper {
  margin: 0 auto;
  width: 900px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.banners-wrapper .ontas-logo-mobile,
.banners-wrapper .directed-logo-mobile {
  display: none;
}

.logos-wrapper {
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  padding-bottom: 1em;
}

.logos-wrapper .ontas-logo,
.logos-wrapper .directed-logo {
  text-align: center;
  width: 50%;
}

.banners-wrapper {
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1em 1em;
  padding-bottom: 2em;
  border-bottom: solid 1px #ccc;
}

.banners-wrapper .ontas-banner,
.banners-wrapper .viper-banner {
  width: 49%;
}

.banners-wrapper .ontas-banner img,
.banners-wrapper .viper-banner img {
  max-width: 470px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.antiassault-film {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 1px #ccc;
  color: #7d7d7d;
  margin: 2em auto 1.5em;
  padding-bottom: 1em;
  width: 900px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.antiassault-film .information {
  width: 68%;
}

.antiassault-film .information h2, .antiassault-film .information h3 {
  font-weight: bold;
}

.antiassault-film .information h2 {
  font-size: 1.2em;
  margin-bottom: 2em;
}

.antiassault-film .information h3 {
  font-size: 1.1em;
  margin-bottom: .5em;
}

.antiassault-film .information h3 span {
  margin-right: .5em;
  color: #cb591e;
}

.antiassault-film .information p {
  font-size: 17px;
  margin: .5em 0 2em 1em;
}

.antiassault-film .side {
  width: 30%;
}

.antiassault-film .side img {
  display: block;
  max-width: 305px;
  margin-bottom: 1em;
  width: 100%;
}

.antiassault-film .side p {
  color: #7d7d7d;
  margin-bottom: 1em;
  text-align: justify;
}

.max-limit {
  margin: 0 auto;
  width: 900px;
  color: #7d7d7d;
  margin-bottom: 2em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.max-limit p {
  margin-bottom: 1em;
}

.max-limit .information {
  width: 53%;
}

.max-limit .information img {
  width: 100%;
  max-width: 265px;
}

.max-limit .information p {
  text-align: justify;
}

.max-limit .information .brands-lists {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.max-limit .information .brands-lists ul {
  -webkit-flex: 1 0 30%;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  margin: 1em 0 1.5em 1em;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}

.max-limit .information .brands-lists li {
  margin-bottom: .5em;
  list-style-type: disc;
  color: #cb591e;
}

.max-limit .information .brands-lists li:last-child {
  margin: 0;
}

.max-limit .information .brands-lists li span {
  color: #7d7d7d;
}

.max-limit .side {
  width: 45%;
}

.max-limit .side img {
  margin-bottom: 1em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 388px;
}

.max-limit .side ul {
  margin: .5em 0 1em 1em;
}

.max-limit .side ul li {
  list-style-type: disc;
  color: #cb591e;
  margin: .5em 0;
}

.max-limit .side ul li span {
  color: #7d7d7d;
}

/* ------------------ 06 - AUDIO ------------------ */
.audio-content .row,
.audio-content .directed-logo,
.audio-content .information {
  width: 900px;
  margin: 0 auto;
}

.audio-content .row {
  margin-bottom: 1em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.audio-content .row .column {
  width: 48%;
}

.audio-content .row .column img {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  width: 100%;
}

.audio-content .directed-logo {
  text-align: center;
}

.audio-content .information {
  color: #7d7d7d;
  text-align: center;
  margin: 1.5em auto;
}

/* ------------------ 07 - CONFORT ------------------ */
.confort-content {
  margin: 0 auto;
  width: 900px;
  color: #7d7d7d;
}

.page-title {
  text-align: center;
  background-color: #cb591e;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 2em;
  padding: .25em 0;
  margin-bottom: 1em;
}

.locker-sensor {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.locker-sensor .locker,
.locker-sensor .sensor {
  border: 1px solid #cb591e;
  background-color: #ffffff;
  margin-bottom: 1em;
  margin-bottom: 2em;
  padding: 1em 1em 0 1em;
  width: 49%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.locker-sensor .locker h3,
.locker-sensor .sensor h3 {
  font-size: 1.05em;
  margin-bottom: .5em;
  font-weight: bold;
}

.locker-sensor .locker p,
.locker-sensor .sensor p {
  margin-bottom: 1em;
  text-align: justify;
  font-size: 15px;
}

.locker-sensor .locker ul,
.locker-sensor .sensor ul {
  margin-left: 1em;
}

.locker-sensor .locker ul li,
.locker-sensor .sensor ul li {
  color: #cb591e;
  list-style-type: disc;
  margin-bottom: .2em;
}

.locker-sensor .locker ul li:last-child,
.locker-sensor .sensor ul li:last-child {
  margin-bottom: 0;
}

.locker-sensor .locker ul li span,
.locker-sensor .sensor ul li span {
  color: #7d7d7d;
}

.locker-sensor .locker:before,
.locker-sensor .sensor:before {
  background-color: transparent;
  border-radius: 0 0 50% 50%;
  bottom: 0;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  content: "";
  height: 10%;
  left: 2%;
  width: 96%;
  position: absolute;
  z-index: -1;
}

.locker-sensor .product-image {
  border: 1px solid #cb591e;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  -webkit-flex: 0 0 160px;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
  height: 160px;
  margin-right: 10px;
}

.locker-sensor .product-image img {
  width: 100%;
  max-width: 160px;
}

.locker-sensor .description {
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
}

.photocel-sensor {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.photocel-sensor .photocel,
.photocel-sensor .retro-sensor {
  border: 1px solid #cb591e;
  background-color: #ffffff;
  margin-bottom: 1em;
  margin-bottom: 2em;
  padding: 1em 1em 0 1em;
  width: 49%;
  position: relative;
}

.photocel-sensor .photocel h3,
.photocel-sensor .retro-sensor h3 {
  font-size: 1.05em;
  margin-bottom: .5em;
  font-weight: bold;
}

.photocel-sensor .photocel h3 + p,
.photocel-sensor .retro-sensor h3 + p {
  margin-top: 0;
}

.photocel-sensor .photocel p,
.photocel-sensor .retro-sensor p {
  margin-bottom: 1em;
  text-align: justify;
  font-size: 15px;
}

.photocel-sensor .photocel:before,
.photocel-sensor .retro-sensor:before {
  background-color: transparent;
  border-radius: 0 0 50% 50%;
  bottom: 0;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  content: "";
  height: 10%;
  left: 2%;
  width: 96%;
  position: absolute;
  z-index: -1;
}

.photocel .description {
  margin-bottom: 2em;
}

.photocel .product-image-bottom {
  text-align: center;
  width: 100%;
}

.photocel .product-image-bottom img {
  width: 100%;
  max-width: 330px;
}

.retro-sensor .product-image {
  border: 1px solid #cb591e;
  width: 160px;
  height: 140px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  margin-right: 1em;
  float: left;
}

.retro-sensor .product-image img {
  width: 100%;
  max-width: 160px;
  margin-bottom: 1.5em;
}

.retro-sensor .description p {
  margin: 1em 0;
}

.camera,
.parrot,
.parrot-mini,
.pka,
.tom-tom,
.simple,
.easy-go {
  border: 1px solid #cb591e;
  margin-bottom: 2em;
  position: relative;
  background-color: #ffffff;
  padding: 1em;
}

.camera:before,
.parrot:before,
.parrot-mini:before,
.pka:before,
.tom-tom:before,
.simple:before,
.easy-go:before {
  background-color: transparent;
  border-radius: 0 0 50% 50%;
  bottom: 0;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  content: "";
  height: 10%;
  left: 2%;
  width: 96%;
  position: absolute;
  z-index: -1;
}

.camera h3,
.parrot h3,
.parrot-mini h3,
.pka h3,
.tom-tom h3,
.simple h3,
.easy-go h3 {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: .5em;
}

.camera ul,
.parrot ul,
.parrot-mini ul,
.pka ul,
.tom-tom ul,
.simple ul,
.easy-go ul {
  margin-left: 2em;
}

.camera ul li,
.parrot ul li,
.parrot-mini ul li,
.pka ul li,
.tom-tom ul li,
.simple ul li,
.easy-go ul li {
  color: #cb591e;
  list-style-type: disc;
}

.camera ul li span,
.parrot ul li span,
.parrot-mini ul li span,
.pka ul li span,
.tom-tom ul li span,
.simple ul li span,
.easy-go ul li span {
  color: #7d7d7d;
}

.camera,
.parrot,
.parrot-mini,
.pka,
.tom-tom,
.simple,
.easy-go {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.camera .description,
.parrot .description,
.parrot-mini .description,
.pka .description,
.tom-tom .description,
.simple .description,
.easy-go .description {
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
}

.camera .product-image,
.parrot .product-image,
.parrot-mini .product-image,
.pka .product-image,
.tom-tom .product-image,
.simple .product-image,
.easy-go .product-image {
  border: 1px solid #cb591e;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  margin-right: 1em;
}

.camera .product-image img,
.parrot .product-image img,
.parrot-mini .product-image img,
.pka .product-image img,
.tom-tom .product-image img,
.simple .product-image img,
.easy-go .product-image img {
  width: 100%;
  max-width: 180px;
}

.camera .product-image {
  -webkit-flex: 0 0 180px;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px;
  height: 102px;
}

.parrot .product-image {
  border: 0;
  box-shadow: none;
  -webkit-flex: 0 0 250px;
      -ms-flex: 0 0 250px;
          flex: 0 0 250px;
  margin-right: 1em;
}

.parrot .product-image img {
  width: 100%;
  max-width: 250px;
}

.parrot .description ul {
  margin-top: .5em;
}

.parrot-mini .product-image {
  -webkit-flex: 0 0 150px;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
  height: 120px;
  text-align: center;
}

.parrot-mini .product-image img {
  max-width: 90px;
}

.pka p {
  margin: .5em 0;
  text-align: justify;
}

.pka .product-image {
  -webkit-flex: 0 0 200px;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  height: 250px;
  text-align: center;
  border: none;
  box-shadow: none;
}

.pka .product-image img {
  max-width: 140px;
}

.tom-tom ul {
  margin-top: 1em;
}

.tom-tom .product-image {
  -webkit-flex: 0 0 180px;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px;
  height: 190px;
  text-align: center;
  padding: 45px 0;
}

.tom-tom .product-image img {
  max-width: 160px;
}

.simple .product-image {
  -webkit-flex: 0 0 180px;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px;
  height: auto;
  text-align: center;
}

.simple .product-image img {
  max-width: 160px;
}

.simple .top-description {
  margin-bottom: 1em;
}

.simple .bottom-description ul {
  display: inline-block;
  margin-top: .5em;
  width: 60%;
  vertical-align: middle;
}

.simple .bottom-description ul li {
  margin-bottom: .5em;
  font-size: .9em;
}

.simple .bottom-description .product-logo {
  display: inline-block;
  vertical-align: middle;
}

.easy-go .product-image {
  -webkit-flex: 0 0 430px;
      -ms-flex: 0 0 430px;
          flex: 0 0 430px;
  border: none;
  box-shadow: none;
}

.easy-go .product-image img {
  width: 100%;
  max-width: 430px;
}

.easy-go .description p {
  margin-bottom: 1em;
}

.easy-go .description p:last-child {
  margin-bottom: 0;
}

/* ------------------ 08 - CONTACTO ------------------ */
.contact-content {
  color: #7d7d7d;
  margin: 0 auto;
  width: 900px;
}

.contact-content h2 {
  text-align: center;
  color: #0f1217;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: .25em;
}

.contact-content .message {
  font-size: 13px;
  margin-bottom: 1em;
  text-align: center;
}

.contact-content .form {
  margin-bottom: 2em;
}

.contact-content .form input,
.contact-content .form textarea {
  border: solid 1px #ccc;
  color: #939393;
  font-size: 13px;
  font-family: Arial, Verdana, sans-serif;
  margin-bottom: .5em;
  padding: 1em;
}

.contact-content .form .form-inputs {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-content .form .form-inputs div {
  width: 24%;
  display: inline;
}

.contact-content .form .form-inputs div input {
  font-size: .9em;
  width: 100%;
}

.contact-content .form textarea {
  font-size: .9em;
  width: 100%;
}

.contact-content .form .checkbox {
  font-size: 13px;
  text-align: center;
  margin-bottom: 1em;
}

.contact-content .form .checkbox span {
  color: #696969;
  margin-right: 1em;
}

.contact-content .buttons {
  text-align: center;
  margin-bottom: 1em;
}

.contact-content .buttons button {
  background-color: #cb591e;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  padding: 1.5em 1em;
  text-align: center;
  width: 90px;
}

.contact-content .address {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2em;
}

.contact-content .address .address-1,
.contact-content .address .address-2 {
  -webkit-flex: 0 1 49%;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
  min-height: 250px;
  border: solid 1px #cb591e;
  box-sizing: border-box;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  position: relative;
}

.contact-content .address .address-1 .information,
.contact-content .address .address-2 .information {
  background-color: #cb591e;
  color: #ffffff;
  padding: 1em;
  height: auto;
  position: relative;
}

.contact-content .address .address-1 .information p,
.contact-content .address .address-2 .information p {
  font-size: 13px;
  margin-bottom: .5em;
}

.contact-content #maps {
  width: 100%;
}

.contact-content #maps #map1, .contact-content #maps #map2 {
  display: inline-block;
  height: 250px;
  width: 100%;
  position: relative;
  z-index: -1;
}

/* ------------ 09 - FOOTER ------------ */
.footer {
  font-size: 12px;
  background-color: #04090F;
  color: #ffffff;
  text-align: center;
  padding: 1em 0;
  letter-spacing: 1px;
}

.footer .copyright {
  margin-bottom: .5em;
}

.footer .created-by .global-net-studio-logo {
  position: relative;
  top: 4px;
}

@media (min-width: 2600px) {
  .flex-caption {
    font-size: 4em;
    bottom: 40%;
  }
}

@media (min-width: 1920px) and (max-width: 2599px) {
  .flex-caption {
    font-size: 3em;
    bottom: 40%;
  }
}

@media (min-width: 1680px) and (max-width: 1919px) {
  .flex-caption {
    font-size: 2.8em;
    bottom: 40%;
  }
}

@media (min-width: 1440px) and (max-width: 1679px) {
  .flex-caption {
    font-size: 2.4em;
    bottom: 38%;
  }
}

@media (min-width: 1360px) and (max-width: 1439px) {
  .flex-caption {
    font-size: 2.2em;
    bottom: 36%;
  }
}

@media (min-width: 1280px) and (max-width: 1359px) {
  .flex-caption {
    font-size: 2.2em;
    bottom: 35%;
  }
}

@media (min-width: 960px) and (max-width: 1279px) {
  .header .left-background {
    width: 100%;
  }
  .header .middle-background {
    background: none;
  }
  .header .logo {
    margin-left: 0;
    left: 20px;
    top: 12px;
    width: 290px;
  }
  .header .address {
    color: #3A3A3A;
    left: 35%;
    position: absolute;
    top: 7px;
    z-index: 10;
  }
  .header .address p {
    font-size: .9em;
  }
  .header .main-menu ul {
    width: 100%;
  }
  .flex-caption {
    font-size: 1.6em;
    bottom: 40%;
  }
  .carousel {
    top: 0;
    margin-bottom: 0;
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .header {
    height: 390px;
    border-bottom: 8px solid #cb591e;
  }
  .header .left-background {
    width: 100%;
  }
  .header .middle-background {
    background: none;
  }
  .header .right-background {
    display: none;
  }
  .header .logo {
    margin-left: 0;
    margin: 40px auto 0;
    width: 100%;
    max-width: 350px;
    position: relative;
    left: 0;
    top: 10px;
  }
  .header .address {
    color: #3A3A3A;
    position: relative;
    margin: 1em .5em;
    left: 0;
    display: block;
  }
  .header .address p {
    font-size: 16px;
    text-align: center;
  }
  .header .address .social-icons {
    display: block;
    margin: 15px auto 0;
    width: 150px;
  }
  .header .main-menu {
    top: -40px;
    bottom: initial;
  }
  .header .main-menu #menu-button {
    background-color: #222;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
    padding: .75em 1em;
    text-align: center;
  }
  .header .main-menu ul {
    display: none;
    width: 100%;
  }
  .header .main-menu ul li:first-child {
    margin-top: 0;
  }
  .header .main-menu ul li.active a:hover {
    background-color: #000;
  }
  .header .main-menu ul li {
    margin-top: -1px;
  }
  .header .main-menu ul li a {
    padding-left: 1em;
    background-color: #222;
  }
  .header .main-menu ul li a:hover {
    background-color: #cb591e;
  }
  .header .main-menu ul li:before, .header .main-menu ul li:after {
    display: none;
  }
  .flex-caption {
    font-size: 1.4em;
    bottom: 38%;
  }
  .carousel {
    top: 0;
    margin-bottom: 0;
  }
  .home-content .security-alarms-group {
    padding-top: 1.5em;
  }
  .home-content .security-alarms-group .security-comfort,
  .home-content .security-alarms-group .alarm-controls {
    margin: 0 auto;
    width: 90%;
  }
  .viper-clifford-features {
    display: block;
    width: 100%;
  }
  .viper-clifford-features .description {
    width: 100%;
  }
  .viper-clifford-features .clifford-features {
    text-align: center;
    margin-bottom: 1em;
  }
  .viper-clifford-features .description p {
    font-size: 18px;
  }
  .alarms-content {
    width: 95%;
    margin: 0 auto;
  }
  .alarms-content .alarms {
    margin-top: 1em;
    width: 100%;
  }
  .alarms-content .alarms .row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .alarms-content .alarms .row .column {
    -webkit-flex: 0 1 48%;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
    margin-bottom: 1em;
  }
  .alarms-content .alarms .row .column .box {
    padding-bottom: 40px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  }
  .alarms-content .alarms .row .column .box:after {
    display: none;
  }
  .alarms-content .alarms .row .column .title-botton {
    padding: 10px;
    height: auto;
  }
  .alarms-content .alarms .row .column .title-botton h3 {
    font-size: 20px;
  }
  .alarms-content .alarms .row .column .title-botton a.button {
    padding: .5em 1em;
    font-size: 18px;
  }
  .alarms-content .alarms .row .column .title-botton a.button:before {
    display: none;
  }
  .alarms-content .protect {
    padding: 0;
    margin-bottom: 1em;
    width: 100%;
  }
  .alarms-content .protect .protect-logo {
    width: 100%;
  }
  .alarms-content .protect .banners-wrapper {
    padding: 0;
    display: block;
    width: 100%;
  }
  .alarms-content .protect .banners-wrapper .banner-v2, .alarms-content .protect .banners-wrapper .banner-v4 {
    margin-bottom: 2em;
    text-align: center;
    width: 100%;
  }
  .alarms-content .protect .banners-wrapper .banner-v2 img, .alarms-content .protect .banners-wrapper .banner-v4 img {
    max-width: 472px;
  }
  .alarms-content .logos-wrapper {
    display: none;
  }
  .alarms-content .banners-wrapper {
    display: block;
    padding: 0;
    text-align: center;
    width: 100%;
  }
  .alarms-content .banners-wrapper .ontas-logo-mobile,
  .alarms-content .banners-wrapper .directed-logo-mobile {
    display: block;
    margin: 1em auto;
    box-shadow: none;
  }
  .alarms-content .banners-wrapper .ontas-banner,
  .alarms-content .banners-wrapper .viper-banner {
    width: 100%;
    margin-bottom: 1em;
  }
  .alarms-content .banners-wrapper .ontas-banner .ontas-logo-mobile {
    width: 167px;
  }
  .alarms-content .banners-wrapper .viper-banner .directed-logo-mobile {
    width: 209px;
  }
  .alarms-content .antiassault-film {
    width: 100%;
  }
  .alarms-content .antiassault-film .information {
    width: 55%;
  }
  .alarms-content .antiassault-film .information h2 {
    margin-bottom: 1em;
  }
  .alarms-content .antiassault-film .side {
    width: 40%;
  }
  .alarms-content .antiassault-film .side img {
    margin: 1em auto;
  }
  .alarms-content .max-limit {
    width: 100%;
  }
  .alarms-content .max-limit .information {
    width: 50%;
  }
  .audio-content {
    margin: 1em auto;
    width: 95%;
  }
  .audio-content .row,
  .audio-content .directed-logo,
  .audio-content .information {
    width: 100%;
  }
  .audio-content p {
    margin-top: 1em;
  }
  .audio-content .row .column {
    width: 49%;
  }
  .confort-content {
    margin: 1em auto;
    width: 95%;
  }
  .confort-content .locker-sensor {
    display: block;
  }
  .confort-content .locker-sensor > div {
    padding-bottom: 1em;
    height: auto;
    width: 100%;
  }
  .confort-content .photocel-sensor {
    display: block;
  }
  .confort-content .photocel-sensor .photocel,
  .confort-content .photocel-sensor .retro-sensor {
    width: 100%;
  }
  .confort-content .pka .product-image {
    -webkit-flex: 0 0 150px;
        -ms-flex: 0 0 150px;
            flex: 0 0 150px;
    margin-right: 1em;
  }
  .confort-content .simple .product-image {
    margin-right: 2em;
  }
  .confort-content .easy-go .product-image {
    -webkit-flex: 0 0 45%;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    margin-right: 20px;
  }
  .confort-content .easy-go .description {
    text-align: justify;
  }
  .contact-content {
    width: 90%;
  }
  .contact-content h2 {
    margin-top: .5em;
  }
  .contact-content .message {
    font-size: 18px;
  }
  .contact-content .message span {
    display: block;
  }
  .contact-content .form .form-inputs {
    display: block;
  }
  .contact-content .form .form-inputs div {
    display: block;
    margin-bottom: .5em;
    width: 100%;
  }
  .contact-content .form .checkbox span {
    display: block;
    margin-bottom: .5em;
  }
  .contact-content .form .buttons button {
    width: 48%;
    margin-bottom: 1em;
  }
  .contact-content .form .buttons button:first-child {
    margin-right: 2%;
  }
  .contact-content .address {
    display: block;
  }
  .contact-content .address .address-1, .contact-content .address .address-2 {
    margin: 0 auto 1.5em;
    width: 100%;
  }
  .contact-content .address .address-1 .information, .contact-content .address .address-2 .information {
    margin-top: -5px;
  }
}

@media (max-width: 599px) {
  .header {
    height: 390px;
    border-bottom: 8px solid #cb591e;
  }
  .header .left-background {
    width: 100%;
  }
  .header .middle-background {
    background: none;
  }
  .header .right-background {
    display: none;
  }
  .header .logo {
    margin-left: 0;
    margin: 40px auto 0;
    width: 100%;
    max-width: 350px;
    position: relative;
    left: 0;
    top: 10px;
  }
  .header .address {
    color: #3A3A3A;
    position: relative;
    margin: 1em .5em;
    left: 0;
    display: block;
  }
  .header .address p {
    font-size: 16px;
    text-align: center;
  }
  .header .address .social-icons {
    display: block;
    margin: 15px auto 0;
    width: 150px;
  }
  .header .main-menu {
    top: -40px;
    bottom: initial;
  }
  .header .main-menu #menu-button {
    background-color: #222;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
    padding: .75em 1em;
    text-align: center;
  }
  .header .main-menu ul {
    display: none;
    width: 100%;
  }
  .header .main-menu ul li:first-child {
    margin-top: 0;
  }
  .header .main-menu ul li.active a:hover {
    background-color: #000;
  }
  .header .main-menu ul li {
    margin-top: -1px;
  }
  .header .main-menu ul li a {
    padding-left: 1em;
    background-color: #222;
  }
  .header .main-menu ul li a:hover {
    background-color: #cb591e;
  }
  .header .main-menu ul li:before, .header .main-menu ul li:after {
    display: none;
  }
  .flex-caption {
    font-size: 1.4em;
    bottom: 38%;
  }
  .carousel {
    top: 0;
    margin-bottom: 0;
  }
  .security-alarms-group .security-comfort,
  .security-alarms-group .alarm-controls {
    margin: 0 auto;
    width: 90%;
  }
  .security-comfort {
    padding-top: 1em;
  }
  .security-comfort h2 {
    font-size: 18px;
  }
  .alarm-controls h2 {
    font-size: 25px;
  }
  .viper-clifford-features {
    display: block;
    width: 100%;
  }
  .viper-clifford-features .clifford-features {
    margin-bottom: 1em;
    text-align: center;
  }
  .alarms {
    width: 90%;
  }
  .alarms h2 {
    margin-top: .5em;
    padding: .25em 0;
    font-size: 1.5em;
  }
  .alarms .row {
    display: block;
  }
  .alarms .row .column {
    margin-bottom: 1em;
  }
  .alarms .row .column .title-botton {
    padding: 10px 15px;
  }
  .alarms .row .column .title-botton .moto-x {
    margin-bottom: 0;
  }
  .alarms .row .column .title-botton h3 {
    font-size: 18px;
  }
  .alarms .row .column .title-botton a.button {
    padding: 5px 10px;
    font-size: 18px;
  }
  .alarms .row .column .title-botton a.button:before {
    display: none;
  }
  .alarms .row .column img {
    margin-bottom: 28px;
  }
  .alarms .row .column .box {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  }
  .alarms .row .column .box:after {
    display: none;
  }
  .protect,
  .logos-wrapper,
  .banners-wrapper {
    width: 100%;
  }
  .protect {
    display: block;
  }
  .protect .banners-wrapper {
    display: block;
    padding: 0;
    text-align: center;
  }
  .protect .banners-wrapper .banner-v2,
  .protect .banners-wrapper .banner-v4 {
    width: 100%;
    margin-bottom: 1em;
  }
  .logos-wrapper {
    display: none;
  }
  .banners-wrapper {
    display: block;
  }
  .banners-wrapper .ontas-banner,
  .banners-wrapper .viper-banner {
    margin-bottom: 1em;
    width: 100%;
    text-align: center;
  }
  .banners-wrapper .ontas-banner .ontas-logo-mobile,
  .banners-wrapper .ontas-banner .directed-logo-mobile,
  .banners-wrapper .viper-banner .ontas-logo-mobile,
  .banners-wrapper .viper-banner .directed-logo-mobile {
    display: block;
    margin: 1em auto;
    box-shadow: none;
  }
  .banners-wrapper .ontas-banner .ontas-logo-mobile,
  .banners-wrapper .viper-banner .ontas-logo-mobile {
    max-width: 167px;
  }
  .banners-wrapper .ontas-banner .directed-logo-mobile,
  .banners-wrapper .viper-banner .directed-logo-mobile {
    max-width: 209px;
  }
  .antiassault-film {
    display: block;
    width: 90%;
  }
  .antiassault-film .information,
  .antiassault-film .side {
    width: 100%;
  }
  .antiassault-film .information img,
  .antiassault-film .side img {
    margin: 0 auto 1em;
  }
  .antiassault-film .information h2,
  .antiassault-film .information p {
    margin-bottom: 1em;
  }
  .max-limit {
    display: block;
    width: 90%;
  }
  .max-limit .information,
  .max-limit .side {
    width: 100%;
  }
  .max-limit .information img,
  .max-limit .side img {
    display: inline-block;
    margin: 0 auto 1em;
  }
  .audio-content .row,
  .audio-content .directed-logo,
  .audio-content .information {
    margin-top: 1em;
    width: 90%;
  }
  .audio-content .row {
    display: block;
  }
  .audio-content .row .column {
    width: 100%;
    margin-bottom: 1em;
  }
  .audio-content .information {
    margin-bottom: 1em;
    text-align: center;
    line-height: 1.4em;
    letter-spacing: 2px;
    font-size: 18px;
  }
  .confort-content {
    margin: 1em auto;
    width: 90%;
  }
  .confort-content .locker-sensor {
    display: block;
  }
  .confort-content .locker-sensor .locker, .confort-content .locker-sensor .sensor {
    display: block;
    width: 100%;
  }
  .confort-content .locker-sensor .locker .product-image, .confort-content .locker-sensor .sensor .product-image {
    box-shadow: none;
    border: none;
    text-align: center;
    height: auto;
    margin-right: 0;
  }
  .confort-content .locker-sensor .locker .description, .confort-content .locker-sensor .sensor .description {
    margin: 0 0 1em;
  }
  .confort-content .locker-sensor .locker .description h3, .confort-content .locker-sensor .sensor .description h3 {
    text-align: center;
  }
  .confort-content .locker-sensor .locker .description li, .confort-content .locker-sensor .sensor .description li {
    margin-bottom: .5em;
  }
  .confort-content .photocel-sensor {
    display: block;
  }
  .confort-content .photocel-sensor .photocel, .confort-content .photocel-sensor .retro-sensor {
    width: 100%;
  }
  .confort-content .photocel-sensor .photocel .description, .confort-content .photocel-sensor .retro-sensor .description {
    margin-bottom: 0 0 1em;
  }
  .confort-content .photocel-sensor .photocel .description h3, .confort-content .photocel-sensor .retro-sensor .description h3 {
    text-align: center;
  }
  .confort-content .photocel-sensor .photocel .description p, .confort-content .photocel-sensor .retro-sensor .description p {
    text-align: justify;
    font-size: 17px;
    line-height: 22px;
  }
  .confort-content .photocel-sensor .retro-sensor .product-image {
    border: none;
    box-shadow: none;
    width: 100%;
    text-align: center;
    margin: 0 0 1em;
  }
  .confort-content .camera,
  .confort-content .parrot,
  .confort-content .parrot-mini,
  .confort-content .pka,
  .confort-content .tom-tom,
  .confort-content .simple,
  .confort-content .easy-go {
    display: block;
  }
  .confort-content .camera .product-image,
  .confort-content .parrot .product-image,
  .confort-content .parrot-mini .product-image,
  .confort-content .pka .product-image,
  .confort-content .tom-tom .product-image,
  .confort-content .simple .product-image,
  .confort-content .easy-go .product-image {
    border: none;
    box-shadow: none;
    width: 100%;
    text-align: center;
  }
  .confort-content .camera .description h3,
  .confort-content .parrot .description h3,
  .confort-content .parrot-mini .description h3,
  .confort-content .pka .description h3,
  .confort-content .tom-tom .description h3,
  .confort-content .simple .description h3,
  .confort-content .easy-go .description h3 {
    text-align: center;
  }
  .confort-content .camera .description p,
  .confort-content .parrot .description p,
  .confort-content .parrot-mini .description p,
  .confort-content .pka .description p,
  .confort-content .tom-tom .description p,
  .confort-content .simple .description p,
  .confort-content .easy-go .description p {
    text-align: justify;
    font-size: 17px;
    line-height: 22px;
  }
  .confort-content .camera .description li,
  .confort-content .parrot .description li,
  .confort-content .parrot-mini .description li,
  .confort-content .pka .description li,
  .confort-content .tom-tom .description li,
  .confort-content .simple .description li,
  .confort-content .easy-go .description li {
    margin: 1em 0;
    font-size: 16px;
  }
  .confort-content .camera .product-logo,
  .confort-content .parrot .product-logo,
  .confort-content .parrot-mini .product-logo,
  .confort-content .pka .product-logo,
  .confort-content .tom-tom .product-logo,
  .confort-content .simple .product-logo,
  .confort-content .easy-go .product-logo {
    width: 100%;
    text-align: center;
  }
  .confort-content .simple .bottom-description ul {
    width: 100%;
    margin-left: 1em;
  }
  .confort-content .easy-go .product-image {
    margin-bottom: 1em;
  }
  .contact-content {
    width: 90%;
  }
  .contact-content h2 {
    margin-top: .5em;
  }
  .contact-content .message {
    font-size: 18px;
  }
  .contact-content .message span {
    display: block;
  }
  .contact-content .form .form-inputs {
    display: block;
  }
  .contact-content .form .form-inputs div {
    display: block;
    margin-bottom: .5em;
    width: 100%;
  }
  .contact-content .form .checkbox span {
    display: block;
    margin-bottom: .5em;
  }
  .contact-content .form .buttons button {
    width: 48%;
    margin-bottom: 1em;
  }
  .contact-content .form .buttons button:first-child {
    margin-right: 2%;
  }
  .contact-content .address {
    display: block;
  }
  .contact-content .address .address-1, .contact-content .address .address-2 {
    margin: 0 auto 1.5em;
    width: 100%;
  }
  .contact-content .address .address-1 .information, .contact-content .address .address-2 .information {
    margin-top: -5px;
  }
  .footer {
    padding: 1em .5em;
  }
  .footer .copyright span {
    margin-top: .5em;
    display: block;
  }
}

.thanks-content {
  min-height: 100vh;
  width: 100%;
}

.thanks-content .message {
  background-color: #dff0d8;
  border: 1px solid transparent;
  border-color: #d6e9c6;
  border-radius: 5px;
  box-sizing: border-box;
  color: #3c763d;
  padding: 15px;
  text-align: center;
}

.thanks-content h2 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 15px;
}

.thanks-content p {
  line-height: 20px;
  padding: 0 20px;
}

@media (min-width: 2600px) {
  .thanks-content .message {
    margin-top: 100px;
    border-radius: 0;
  }
  .thanks-content h2 {
    font-size: 3em;
    padding: 10px 15px;
  }
  .thanks-content p {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    line-height: 35px;
  }
}

@media (min-width: 1920px) and (max-width: 2599px) {
  .thanks-content .message {
    margin-top: 50px;
    border-radius: 0;
  }
  .thanks-content h2 {
    font-size: 2.5em;
    padding: 10px 15px;
  }
  .thanks-content p {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
    line-height: 35px;
  }
}

@media (min-width: 1280px) and (max-width: 1919px) {
  .thanks-content .message {
    margin: 30px auto;
    width: 90%;
  }
}

@media (min-width: 960px) and (max-width: 1279px) {
  .thanks-content {
    min-height: 100%;
    width: 100%;
  }
  .thanks-content .wrapper {
    display: block;
  }
  .thanks-content .message {
    width: 80%;
    display: block;
    margin: 30px auto 0;
  }
}

@media (max-width: 650px) {
  .thanks-carousel .carousel {
    display: none;
  }
}

@media (max-width: 959px) {
  .thanks-content {
    min-height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .thanks-content .wrapper {
    display: block;
    vertical-align: inherit;
    margin-top: 5%;
    width: 90%;
  }
  .thanks-content .message {
    height: 200px;
    margin: inherit;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .thanks-content h2 {
    font-size: 1.2em;
  }
}

/*# sourceMappingURL=styles.css.map */
