/* INDEX
 * 01 - GENERAL
 * 02 - HEADER
 * 03 - CAROUSEL
 * 04 - INICIO
 * 05 - ALARMAS
 * 06 - AUDIO
 * 07 - CONFORT
 * 08 - CONTACTO
 * 09 - FOOTER */
/* -------------- 01 - GENERAL -------------- */
body {
  font-size: 16px;
  font-family: arial, geneva, sans-serif;
  min-height: 900px;
}

.hide {
  position: absolute;
  text-indent: -9999px;
  left: -9999px;
}

.center {
  text-align: center;
}

.img-responsive {
  height: auto;
  width: 100%;
}

b {
  font-weight: bold;
}

/* ------------------ 02 - HEADER ------------------ */
.header {
  position: relative;
  width: 100%;
  height: 129px;
  z-index: 10;
}

.header .left-background {
  top: -1px;
  left: 0;
  position: absolute;
  z-index: 10;
  width: 40%;
  height: 129px;
  background: url(../images/header/left-background.jpg) repeat-x left center;
}

.header .middle-background {
  position: absolute;
  top: -1px;
  left: 40%;
  height: 129px;
  width: 126px;
  background: url(../images/header/middle-background.png) no-repeat left center;
  z-index: 20;
}

.header .right-background {
  background-color: #feffff;
  height: 12px;
  width: 100%;
  position: relative;
  top: 116px;
  z-index: 0;
  box-shadow: 0 7px 0 #cb591e;
}

.header .logo {
  position: absolute;
  top: 10px;
  left: 40%;
  margin-left: -255px;
  width: 315px;
  z-index: 30;
}

.header .logo img {
  max-width: 100%;
  height: auto;
}

.header .main-menu {
  width: 100%;
  position: absolute;
  bottom: -56px;
  z-index: 40;
}

.header .main-menu ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: 0 auto;
  width: 900px;
}

.header .main-menu ul li {
  position: relative;
  height: 50px;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  text-align: center;
  display: block;
}

.header .main-menu ul li:last-child {
  border-right: none;
}

.header .main-menu ul li a {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  padding: 14px 0;
  letter-spacing: 2px;
  width: 100%;
}

.header .main-menu ul li a:hover {
  background-color: rgba(181, 79, 27, 0.8);
  font-weight: bold;
}

.header .main-menu ul li.active a {
  color: #cb591e;
  font-weight: bold;
}

.header .main-menu ul li.active a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.header .main-menu ul li:before {
  background-color: #818385;
  content: "";
  height: 10px;
  position: absolute;
  width: 2px;
  box-shadow: 0 40px 0 0 #818385;
  z-index: 1;
  right: 0;
}

.header .main-menu ul li:last-child:before {
  display: none;
}

.header .address {
  color: #ffffff;
  height: 116px;
  position: absolute;
  top: 0;
  left: 50%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .address .left-column {
  margin-right: 7px;
}

.header .address i.icon-mark:before,
.header .address i.icon-mail:before,
.header .address i.icon-phone:before {
  position: relative;
  top: 2px;
  padding-right: 5px;
  font-size: 18px;
}

.header .address p {
  margin-bottom: 10px;
  font-size: .95em;
}

.header .address .social-icons {
  margin-top: 10px;
}

.header .address .social-icons > div {
  display: inline-block;
  margin-right: 2px;
  height: 30px;
  width: 30px;
}

.header .address .social-icons > div a {
  text-decoration: none;
}

.header .address .social-icons > div i {
  color: #ffffff;
  position: relative;
  font-size: 22px;
}

.header .address .social-icons > div i:before {
  position: relative;
  top: 5px;
  left: 3px;
}

.header .address .social-icons .twitter {
  background-color: #62aee6;
}

.header .address .social-icons .facebook {
  background-color: #243f8b;
}

.header .address .social-icons .youtube {
  background-color: #db1f25;
}

.header .address .social-icons .youtube i:before {
  top: 5px;
}

.header .address .social-icons .google-plus {
  background-color: #da4835;
}

/* --------- 03 - CAROUSEL --------- */
.carousel {
  width: 100%;
  position: relative;
  top: -129px;
  margin-bottom: -129px;
  z-index: 0;
}

.carousel img {
  width: 100%;
}

.carousel .zig-zag-form {
  position: absolute;
  bottom: -6px;
  z-index: 5;
}

.carousel .zig-zag-form img {
  height: auto;
  width: 100%;
}

.carousel .custom-controls-container {
  position: absolute;
  bottom: 25%;
  width: 100%;
  z-index: 10;
}

.flexslider {
  background-color: none;
  border: none;
}

.left-chevron,
.right-chevron {
  position: absolute;
  z-index: -1;
}

/* ------------------ 04 - INICIO ------------------ */
.security-alarms-group {
  background: #E9E9E9;
}

.security-alarms-group .security-comfort,
.security-alarms-group .alarm-controls {
  width: 900px;
  margin: 0 auto;
}

.security-comfort {
  text-align: center;
}

.security-comfort h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-bottom: 0.5em;
  color: #3c3c3c;
}

.security-comfort p {
  font-family: Arial, Geneva, sans-serif;
  color: #7d7d7d;
  font-size: 17px;
  margin-bottom: 1em;
}

.alarm-controls h2 {
  color: #0f1217;
  font-family: 'Montserrat', sans-serif;
  font-size: 27px;
  text-align: center;
  margin-bottom: 0;
}

.alarms-audio-confort {
  margin-bottom: -5px;
}

.avital-products {
  margin-bottom: -5px;
}

.alarms-specialists {
  border-top: solid 8px #cb591e;
  margin-bottom: -5px;
}

.viper-clifford-features {
  padding: 15px 20px 30px;
  background-color: #ffffff;
  margin: 0 auto;
  width: 900px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.viper-clifford-features .clifford-features {
  -webkit-flex: 0 1 49%;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
}

.viper-clifford-features .clifford-features img {
  width: 100%;
  max-width: 520px;
}

.viper-clifford-features .description {
  -webkit-flex: 0 1 49%;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
}

.viper-clifford-features .description h2 {
  color: #3f3f3f;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin-bottom: .25em;
}

.viper-clifford-features .description p {
  font-size: 16px;
  text-align: left;
  color: #7d7d7d;
  text-align: justify;
  line-height: 20px;
}

.alarms {
  margin: 0 auto;
  width: 900px;
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  border-bottom: solid 1px #ccc;
}

.alarms h2 {
  width: 100%;
  background-color: #cb591e;
  color: #ffffff;
  text-align: center;
  font-size: 2em;
  padding: .25em 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
  margin-bottom: 1em;
}

.alarms .row {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5em;
}

.alarms .row .column {
  position: relative;
  -webkit-flex: 0 1 24%;
      -ms-flex: 0 1 24%;
          flex: 0 1 24%;
}

.alarms .row .column .box {
  background-color: #ffffff;
  border: 1px solid #cb591e;
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 0;
}

.alarms .row .column .box:after {
  background-color: transparent;
  border-radius: 0 0 100px 100px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
  content: "";
  height: 100px;
  opacity: .6;
  width: 170px;
  position: absolute;
  left: 20px;
  bottom: 0;
  z-index: -1;
}

.alarms .row .column img {
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  height: auto;
}

.alarms .row .column img.moto-x {
  width: 95px;
  height: auto;
}

.alarms .row .column .title-botton {
  height: 50px;
  width: 100%;
  background-color: rgba(203, 89, 30, 0.9);
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
}

.alarms .row .column .title-botton h3 {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  width: 100%;
}

.alarms .row .column .title-botton a.button {
  color: #424242;
  text-decoration: none;
  background-color: #ffffff;
  display: block;
  padding: 5px;
  font-size: 14px;
  position: relative;
  padding-left: 24px;
  margin-left: 5px;
  transition: all .5s;
}

.alarms .row .column .title-botton a.button:hover {
  background-color: #424242;
  color: #ffffff;
}

.alarms .row .column .title-botton a.button:before {
  background-color: #424242;
  border-radius: 25px;
  color: #ffffff;
  content: "+";
  height: 18px;
  width: 18px;
  position: absolute;
  top: 4px;
  left: 3px;
}

.protect {
  margin: 0 auto 2em;
  padding: 1em;
  padding-bottom: 2em;
  border-bottom: solid 1px #ccc;
  width: 900px;
}

.protect .protect-logo {
  text-align: center;
  margin-bottom: 1em;
}

.protect .banners {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.protect .banners .banner-v2,
.protect .banners .banner-v4 {
  width: 49%;
}

.protect .banners .banner-v2 img,
.protect .banners .banner-v4 img {
  max-width: 490px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.logos-wrapper,
.banners-wrapper {
  margin: 0 auto;
  width: 900px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.logos-wrapper {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1em;
}

.logos-wrapper .ontas-logo,
.logos-wrapper .directed-logo {
  text-align: center;
  width: 50%;
}

.banners-wrapper {
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1em 1em;
  padding-bottom: 2em;
  border-bottom: solid 1px #ccc;
}

.banners-wrapper .ontas-banner,
.banners-wrapper .viper-banner {
  width: 49%;
}

.banners-wrapper .ontas-banner img,
.banners-wrapper .viper-banner img {
  max-width: 470px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.antiassault-film {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 1px #ccc;
  color: #7d7d7d;
  margin: 2em auto 1.5em;
  padding-bottom: 1em;
  width: 900px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.antiassault-film .information {
  width: 68%;
}

.antiassault-film .information h2, .antiassault-film .information h3 {
  font-weight: bold;
}

.antiassault-film .information h2 {
  font-size: 1.2em;
  margin-bottom: 2em;
}

.antiassault-film .information h3 {
  font-size: 1.1em;
  margin-bottom: .5em;
}

.antiassault-film .information h3 span {
  margin-right: .5em;
  color: #cb591e;
}

.antiassault-film .information p {
  font-size: 17px;
  margin: .5em 0 2em 1em;
}

.antiassault-film .side {
  width: 30%;
}

.antiassault-film .side img {
  display: block;
  max-width: 305px;
  margin-bottom: 1em;
  width: 100%;
}

.antiassault-film .side p {
  color: #7d7d7d;
  margin-bottom: 1em;
  text-align: justify;
}

.max-limit {
  margin: 0 auto;
  width: 900px;
  color: #7d7d7d;
  margin-bottom: 2em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.max-limit p {
  margin-bottom: 1em;
}

.max-limit .information {
  width: 53%;
}

.max-limit .information p {
  text-align: justify;
}

.max-limit .information .brands-lists {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.max-limit .information .brands-lists ul {
  -webkit-flex: 1 0 30%;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  margin: 1em 0 1.5em 1em;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.max-limit .information .brands-lists li {
  margin-bottom: .5em;
  list-style-type: disc;
  color: #cb591e;
}

.max-limit .information .brands-lists li:last-child {
  margin: 0;
}

.max-limit .information .brands-lists li span {
  color: #7d7d7d;
}

.max-limit .side {
  width: 45%;
}

.max-limit .side img {
  margin-bottom: 1em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.max-limit .side ul {
  margin: .5em 0 1em 1em;
}

.max-limit .side ul li {
  list-style-type: disc;
  color: #cb591e;
  margin: .5em 0;
}

.max-limit .side ul li span {
  color: #7d7d7d;
}

/* ------------------ 06 - AUDIO ------------------ */
/* ------------------ 07 - CONFORT ------------------ */
.page-title,
.locker-sensor,
.photocel-sensor,
.camera,
.parrot,
.parrot-mini,
.pka,
.tom-tom,
.simple,
.easy-go {
  margin: 0 auto;
  width: 900px;
  color: #7d7d7d;
}

.page-title {
  text-align: center;
  background-color: #cb591e;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 2em;
  padding: .25em 0;
  margin-bottom: 1em;
}

.locker-sensor {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.locker-sensor .locker,
.locker-sensor .sensor {
  border: 1px solid #cb591e;
  background-color: #ffffff;
  margin-bottom: 1em;
  margin-bottom: 2em;
  padding: 1em 1em 0 1em;
  width: 49%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.locker-sensor .locker h3,
.locker-sensor .sensor h3 {
  font-size: 1.05em;
  margin-bottom: .5em;
  font-weight: bold;
}

.locker-sensor .locker p,
.locker-sensor .sensor p {
  margin-bottom: 1em;
  text-align: justify;
  font-size: 15px;
}

.locker-sensor .locker ul,
.locker-sensor .sensor ul {
  margin-left: 1em;
}

.locker-sensor .locker ul li,
.locker-sensor .sensor ul li {
  color: #cb591e;
  list-style-type: disc;
  margin-bottom: .2em;
}

.locker-sensor .locker ul li:last-child,
.locker-sensor .sensor ul li:last-child {
  margin-bottom: 0;
}

.locker-sensor .locker ul li span,
.locker-sensor .sensor ul li span {
  color: #7d7d7d;
}

.locker-sensor .locker:before,
.locker-sensor .sensor:before {
  background-color: transparent;
  border-radius: 0 0 50% 50%;
  bottom: 0;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  content: "";
  height: 10%;
  left: 2%;
  width: 96%;
  position: absolute;
  z-index: -1;
}

.locker-sensor .product-image {
  border: 1px solid #cb591e;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  -webkit-flex: 0 0 160px;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
  height: 160px;
  margin-right: 10px;
}

.locker-sensor .product-image img {
  width: 100%;
  max-width: 160px;
}

.locker-sensor .description {
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
}

.photocel-sensor {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.photocel-sensor .photocel,
.photocel-sensor .retro-sensor {
  border: 1px solid #cb591e;
  background-color: #ffffff;
  margin-bottom: 1em;
  margin-bottom: 2em;
  padding: 1em 1em 0 1em;
  width: 49%;
  position: relative;
}

.photocel-sensor .photocel h3,
.photocel-sensor .retro-sensor h3 {
  font-size: 1.05em;
  margin-bottom: .5em;
  font-weight: bold;
}

.photocel-sensor .photocel h3 + p,
.photocel-sensor .retro-sensor h3 + p {
  margin-top: 0;
}

.photocel-sensor .photocel p,
.photocel-sensor .retro-sensor p {
  margin-bottom: 1em;
  text-align: justify;
  font-size: 15px;
}

.photocel-sensor .photocel:before,
.photocel-sensor .retro-sensor:before {
  background-color: transparent;
  border-radius: 0 0 50% 50%;
  bottom: 0;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  content: "";
  height: 10%;
  left: 2%;
  width: 96%;
  position: absolute;
  z-index: -1;
}

.photocel .description {
  margin-bottom: 2em;
}

.photocel .product-image-bottom {
  text-align: center;
  width: 100%;
}

.photocel .product-image-bottom img {
  width: 100%;
  max-width: 330px;
}

.retro-sensor .product-image {
  border: 1px solid #cb591e;
  width: 160px;
  height: 140px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  margin-right: 1em;
  float: left;
}

.retro-sensor .product-image img {
  width: 100%;
  max-width: 160px;
  margin-bottom: 1.5em;
}

.retro-sensor .description p {
  margin: 1em 0;
}

.camera,
.parrot,
.parrot-mini,
.pka,
.tom-tom,
.simple,
.easy-go {
  border: 1px solid #cb591e;
  margin-bottom: 2em;
  position: relative;
  background-color: #ffffff;
  padding: 1em;
}

.camera:before,
.parrot:before,
.parrot-mini:before,
.pka:before,
.tom-tom:before,
.simple:before,
.easy-go:before {
  background-color: transparent;
  border-radius: 0 0 50% 50%;
  bottom: 0;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  content: "";
  height: 10%;
  left: 2%;
  width: 96%;
  position: absolute;
  z-index: -1;
}

.camera h3,
.parrot h3,
.parrot-mini h3,
.pka h3,
.tom-tom h3,
.simple h3,
.easy-go h3 {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: .5em;
}

.camera ul,
.parrot ul,
.parrot-mini ul,
.pka ul,
.tom-tom ul,
.simple ul,
.easy-go ul {
  margin-left: 2em;
}

.camera ul li,
.parrot ul li,
.parrot-mini ul li,
.pka ul li,
.tom-tom ul li,
.simple ul li,
.easy-go ul li {
  color: #cb591e;
  list-style-type: disc;
}

.camera ul li span,
.parrot ul li span,
.parrot-mini ul li span,
.pka ul li span,
.tom-tom ul li span,
.simple ul li span,
.easy-go ul li span {
  color: #7d7d7d;
}

.camera,
.parrot,
.parrot-mini,
.pka,
.tom-tom,
.simple,
.easy-go {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.camera .description,
.parrot .description,
.parrot-mini .description,
.pka .description,
.tom-tom .description,
.simple .description,
.easy-go .description {
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
}

.camera .product-image,
.parrot .product-image,
.parrot-mini .product-image,
.pka .product-image,
.tom-tom .product-image,
.simple .product-image,
.easy-go .product-image {
  border: 1px solid #cb591e;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  margin-right: 1em;
}

.camera .product-image img,
.parrot .product-image img,
.parrot-mini .product-image img,
.pka .product-image img,
.tom-tom .product-image img,
.simple .product-image img,
.easy-go .product-image img {
  width: 100%;
  max-width: 180px;
}

.camera .product-image {
  -webkit-flex: 0 0 180px;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px;
  height: 102px;
}

.parrot .product-image {
  border: 0;
  box-shadow: none;
  -webkit-flex: 0 0 250px;
      -ms-flex: 0 0 250px;
          flex: 0 0 250px;
  margin-right: 1em;
}

.parrot .product-image img {
  width: 100%;
  max-width: 250px;
}

.parrot .description ul {
  margin-top: .5em;
}

.parrot-mini .product-image {
  -webkit-flex: 0 0 150px;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
  height: 120px;
  text-align: center;
}

.parrot-mini .product-image img {
  max-width: 90px;
}

.pka p {
  margin: .5em 0;
  text-align: justify;
}

.pka .product-image {
  -webkit-flex: 0 0 200px;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  height: 250px;
  text-align: center;
  border: none;
  box-shadow: none;
}

.pka .product-image img {
  max-width: 140px;
}

.tom-tom ul {
  margin-top: 1em;
}

.tom-tom .product-image {
  -webkit-flex: 0 0 180px;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px;
  height: 190px;
  text-align: center;
  padding: 45px 0;
}

.tom-tom .product-image img {
  max-width: 160px;
}

.simple .product-image {
  -webkit-flex: 0 0 180px;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px;
  height: auto;
  text-align: center;
}

.simple .product-image img {
  max-width: 160px;
}

.simple .top-description {
  margin-bottom: 1em;
}

.simple .bottom-description ul {
  display: inline-block;
  margin-top: .5em;
  width: 60%;
  vertical-align: middle;
}

.simple .bottom-description ul li {
  margin-bottom: .5em;
  font-size: .9em;
}

.simple .bottom-description .product-logo {
  display: inline-block;
  vertical-align: middle;
}

.easy-go .product-image {
  -webkit-flex: 0 0 430px;
      -ms-flex: 0 0 430px;
          flex: 0 0 430px;
  border: none;
  box-shadow: none;
}

.easy-go .product-image img {
  width: 100%;
  max-width: 430px;
}

.easy-go .description p {
  margin-bottom: 1em;
}

.easy-go .description p:last-child {
  margin-bottom: 0;
}

/* ------------------ 08 - CONTACTO ------------------ */
/* ------------ 09 - FOOTER ------------ */
.footer {
  background-color: #04090F;
  color: #ffffff;
  text-align: center;
  padding: 1em 0;
  letter-spacing: 1px;
}

.footer .copyright {
  margin-bottom: .5em;
}

.footer .created-by .global-net-studio-logo {
  position: relative;
  top: 4px;
}

/*# sourceMappingURL=styles.css.map */