.content
	.alarms
		margin: 0 auto
		width: $mainWidth
		margin-bottom: 1.5em
		h2
			width: 100%
			background-color: $orange
			color: $white
			text-align: center
			font-size: 2em
			padding: .25em 0
			box-shadow: 5px 5px 10px rgba(0,0,0,.35)
			margin-bottom: 1em

		.row
			width: 100%
			display: flex
			justify-content: space-between
			margin-bottom: 1.5em
			.column
				position: relative
				flex: 0 1 24%
				.box
					background-color: $white
					border: 1px solid #cb591e
					margin: 0 auto
					padding-bottom: 10px
					text-align: center
					width: 100%
					position: relative
					z-index: 0
					&:after
						background-color: transparent
						border-radius: 0 0 100px 100px
						box-shadow: 0 10px 15px rgba(0,0,0,.4)
						content: ""
						height: 100px
						opacity: .6
						width: 170px
						position: absolute
						left: 20px
						bottom: 0
						z-index: -1

				img
					width: 100%
					max-width: 200px
					max-height: 200px
					height: auto
				img.moto-x
					width: 95px
					height: auto
				.title-botton
					height: 50px
					width: 100%
					background-color: rgba($orange, .90)
					position: absolute
					bottom: 0
					z-index: 1
					display: flex
					justify-content: space-between
					align-items: center
					padding: 0 5px
					h3
						color: $white
						font-size: 16px
						text-align: center
						width: 100%
					a.button
						color: #424242
						text-decoration: none
						background-color: $white
						display: block
						padding: 5px
						font-size: 14px
						position: relative
						padding-left: 24px
						margin-left: 5px
						&:hover
							background-color: #424242
							color: $white
						&:before
							background-color: #424242
							border-radius: 25px
							color: $white
							content: "+"
							height: 18px
							width: 18px
							position: absolute
							top: 4px
							left: 3px
	
	.protect
		margin: 0 auto
		padding: 1em
		width: $mainWidth
		.protect-logo
			text-align: center
			margin-bottom: 1em
		.banners
			display: flex
			justify-content: space-between
			.banner-v2,
			.banner-v4
				width: 49%			
			.banner-v2 img,
			.banner-v4 img
				max-width: 490px
				width: 100%
				box-shadow: 0 5px 10px rgba(0,0,0,.5)

	.logos-wrapper,
	.banners-wrapper
		margin: 0 auto
		width: $mainWidth
		display: flex

	.logos-wrapper
		align-items: center
		padding-bottom: 1em
		.ontas-logo,
		.directed-logo
			text-align: center
			width: 50%

	.banners-wrapper
		justify-content: space-between
		padding: 0 1em 1em
		padding-bottom: 1em
		.ontas-banner,
		.viper-banner
			width: 49%
		.ontas-banner,
		.viper-banner
			img
				max-width: 470px
				width: 100%
				box-shadow: 0 5px 10px rgba(0,0,0,.5)