/* ------------------ 08 - CONTACTO ------------------ */
.contact-content
	color: $grayText
	margin: 0 auto
	width: $mainWidth
	h2
		text-align: center
		color: #0f1217
		font-size: 30px
		font-family: 'Montserrat', sans-serif
		font-weight: bold
		margin-bottom: .25em
	.message
		font-size: 13px
		margin-bottom: 1em
		text-align: center

	.form
		margin-bottom: 2em
		input,
		textarea
			border: solid 1px $gray
			color: #939393
			font-size: 13px
			font-family: Arial, Verdana, sans-serif
			margin-bottom: .5em
			padding: 1em
		.form-inputs
			display: flex
			justify-content: space-between
			div
				width: 24%
				display: inline
				input
					font-size: .9em
					width: 100%
		textarea
			font-size: .9em
			width: 100%
		.checkbox
			font-size: 13px
			text-align: center
			margin-bottom: 1em
			span
				color: #696969
				margin-right: 1em
	.buttons
		text-align: center
		margin-bottom: 1em
		button
			background-color: $orange
			border-radius: 5px
			border: none
			color: $white
			cursor: pointer
			display: inline-block
			font-size: 12px
			padding: 1.5em 1em
			text-align: center
			width: 90px
	.address
		display: flex
		justify-content: space-between
		margin-bottom: 2em
		.address-1,
		.address-2
			flex: 0 1 49%
			min-height: 250px
			border: solid 1px $orange
			box-sizing: border-box
			box-shadow: 0 5px 5px rgba(#000, .25)
			position: relative
			.information
				background-color: $orange
				color: $white
				padding: 1em
				height: auto
				position: relative
				p
					font-size: 13px
					margin-bottom: .5em
	#maps
		width: 100%
		#map1, #map2
			display: inline-block
			height: 250px
			width: 100%
			position: relative
			z-index: -1