@media (min-width: 2600px)
  .flex-caption
    font-size: 4em
    bottom: 40%

@media (min-width: 1920px) and (max-width: 2599px)
  .flex-caption
    font-size: 3em
    bottom: 40%

@media (min-width: 1680px) and (max-width: 1919px)
  .flex-caption
    font-size: 2.8em
    bottom: 40%

@media (min-width: 1440px) and (max-width: 1679px)
  .flex-caption
    font-size: 2.4em
    bottom: 38%

@media (min-width: 1360px) and (max-width: 1439px)
  .flex-caption
    font-size: 2.2em
    bottom: 36%

@media (min-width: 1280px) and (max-width: 1359px)
  .flex-caption
    font-size: 2.2em
    bottom: 35%

@media (min-width: 960px) and (max-width: 1279px)
  .header
    .left-background
      width: 100%
    .middle-background
      background: none
    .logo
      margin-left: 0
      left: 20px
      top: 12px
      width: 290px
    .address
      color: #3A3A3A
      left: 35%
      position: absolute
      top: 7px
      z-index: 10
      p
        font-size: .9em
    .main-menu
      ul
        width: $tabletWidth   
  .flex-caption
    font-size: 1.6em
    bottom: 40%
  .carousel
    top: 0
    margin-bottom: 0
    width: 100%

@media (min-width: 768px) and (max-width: 959px)
  .header
    .left-background
      width: 100%
    .middle-background
      background: none
    .logo
      margin-left: 0
      left: 20px
      top: 25px
      width: 200px
    .address
      color: #3A3A3A
      left: 32%
      position: absolute
      z-index: 10
      top: 7px
      p
        font-size: .7em
    .main-menu
      ul
        width: $tabletWidth

  .flex-caption
    font-size: 1.4em
    bottom: 38%

  .carousel
    top: 0
    margin-bottom: 0

  .audio-content
    margin-top: 1em

@media (max-width: 767px)
  .header
    height: 390px
    border-bottom: 8px solid $orange
    .left-background
      width: 100%
    .middle-background
      background: none
    .right-background
      display: none
    .logo
      margin-left: 0
      margin: 40px auto 0
      width: 100%
      max-width: 350px
      position: relative
      left: 0
      top: 10px
    .address
      color: #3A3A3A
      position: relative
      margin: 1em .5em
      left: 0
      display: block
      p
        font-size: 16px
        text-align: center
      .social-icons
        display: block
        margin: 15px auto 0
        width: 150px
    .main-menu
      top: -40px
      bottom: initial
      #menu-button
        background-color: #222
        color: $white
        cursor: pointer
        display: block
        font-weight: bold
        margin-bottom: 2px
        padding: .75em 1em
        text-align: center
      ul
        display: none
        width: $tabletWidth
        li:first-child
          margin-top: 0
        li.active a:hover
          background-color: #000
        li
          margin-top: -1px
          a
            padding-left: 1em
            background-color: #222
            &:hover
              background-color: $orange
          &:before,
          &:after
            display: none
  .flex-caption
    font-size: 1.4em
    bottom: 38%

  .carousel
    display: none

  .security-alarms-group
    .security-comfort,
    .alarm-controls
      margin: 0 auto      
      width: 90%

  .security-comfort
    padding-top: 1em
    h2
      font-size: 18px

  .alarm-controls h2
    font-size: 25px

  .viper-clifford-features
    display: block
    width: 100%
    .clifford-features
      margin-bottom: 1em
      text-align: center
  .alarms
    width: 90%
    h2
      margin-top: .5em
      padding: .25em 0
      font-size: 1.5em
    .row
      display: block
      .column
        margin-bottom: 1em
        .title-botton
          padding: 10px 15px
          .moto-x
            margin-bottom: 0
          h3
            font-size: 18px
          a.button
            padding: 5px 10px
            font-size: 18px
            &:before
              display: none
        img
          margin-bottom: 28px
        .box
          box-shadow: 0 5px 5px rgba(0,0,0,.4)
          &:after
            display: none

  .protect,
  .logos-wrapper,
  .banners-wrapper
    width: 100%

  .protect
    display: block
    .banners-wrapper
      display: block
      padding: 0
      text-align: center
      .banner-v2,
      .banner-v4
        width: 100%
        margin-bottom: 1em

  .logos-wrapper
    display: none

  .banners-wrapper
    display: block
    .ontas-banner,
    .viper-banner
      margin-bottom: 1em
      width: 100%
      text-align: center
      .ontas-logo-mobile,
      .directed-logo-mobile
        display: block
        margin: 1em auto
        box-shadow: none
      .ontas-logo-mobile
        max-width: 167px
      .directed-logo-mobile
        max-width: 209px

  .antiassault-film
    display: block
    width: 90%

    .information,
    .side
      width: 100%
      img
        margin: 0 auto 1em

    .information h2,
    .information p
      margin-bottom: 1em

  .max-limit
    display: block
    width: 90%
    .information,
    .side
      width: 100%
      img
        display: inline-block
        margin: 0 auto 1em

  .audio-content,
    & .row,
    & .directed-logo,
    & .information
      margin-top: 1em
      width: 90%
    .row
      display: block
      .column
        width: 100%
        margin-bottom: 1em
    .information
      margin-bottom: 1em
      text-align: center
      line-height: 1.4em
      letter-spacing: 2px
      font-size: 18px

  .confort-content
    margin: 1em auto
    width: 90%
    .page-title
      width: 100%
    .locker-sensor
      display: block
      width: 100%
      .locker, .sensor
        display: block
        width: 100%
        .product-image
          box-shadow: none
          border: none
          text-align: center
          height: auto
          margin-right: 0
        .description
          margin: 0 0 1em
          h3
            text-align: center
          li
            margin-bottom: .5em

    .photocel-sensor
      display: block
      width: 100%
      .photocel, .retro-sensor
        width: 100%
        .description
          margin-bottom: 0 0 1em
          h3
            text-align: center
          p
            text-align: justify
            font-size: 17px
            line-height: 22px
      .retro-sensor
        .product-image
          border: none
          box-shadow: none
          width: 100%
          text-align: center
          margin: 0 0 1em

    .camera,
    .parrot,
    .parrot-mini,
    .pka,
    .tom-tom,
    .simple,
    .easy-go
      display: block
      width: 100%
      .product-image
        border: none
        box-shadow: none
        width: 100%
        text-align: center
      .description
        h3
          text-align: center
        p
          text-align: justify
          font-size: 17px
          line-height: 22px
        li
          margin: 1em 0
          font-size: 16px
      .product-logo
        width: 100%
        text-align: center
    .simple .bottom-description ul
      width: 100%
      margin-left: 1em
    .easy-go .product-image
      margin-bottom: 1em

  .contact-content
    width: 90%
    h2
      margin-top: .5em
    .message
      font-size: 18px
      span
        display: block
    .form
      .form-inputs
        display: block
        div
          display: block
          margin-bottom: .5em
          width: 100%
          input, textarea
            font-size: 16px
      .checkbox
        font-size: 20px
        span
          display: block
          margin-bottom: .5em
      .buttons
        text-align: left
        button
          display: block
          width: 100%
          margin-bottom: 1em
    .address
      display: block
      .address-1, .address-2
        margin: 0 auto 1.5em
        width: 100%
        img
          max-width: 767px
        .information
          margin-top: -5px
          p
            font-size: 18px

  .footer
    padding: 1em .5em
    .copyright span
      margin-top: .5em
      display: block
