/* ------------------ 06 - AUDIO ------------------ */
.audio-content .row,
.audio-content .directed-logo,
.audio-content .information {
  width: 900px;
  margin: 0 auto;
}

.audio-content .row {
  margin-bottom: 1em;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.audio-content .row .column {
  width: 48%;
}

.audio-content .row .column img {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  width: 100%;
}

.audio-content .directed-logo {
  text-align: center;
}

.audio-content .information {
  color: #7d7d7d;
  text-align: center;
  margin: 1.5em auto;
}