/* ------------ 09 - FOOTER ------------ */
.footer {
  font-size: 12px;
  background-color: #04090F;
  color: #ffffff;
  text-align: center;
  padding: 1em 0;
  letter-spacing: 1px;
  .copyright {
    margin-bottom: .5em;
  }

  .created-by {
    a {
      color: #fff; 
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    .global-net-studio-logo {
      position: relative;
      top: 4px;
    }
  }
}
