.footer
	background-color: $footerBackground
	color: $white
	text-align: center
	padding: 1em 0
	letter-spacing: 1px
	.copyright
		margin-bottom: .5em
	.created-by
		.global-net-studio-logo
			position: relative
			top: 4px