/* ------------------ 04 - INICIO ------------------ */
.home-content {

  .security-alarms-group {
    background: #E9E9E9;

    .security-comfort,
    .alarm-controls {
      width: 900px;
      margin: 0 auto;
    }

    // ------------- SECURITY CONFORT -------------
    .security-comfort {
      text-align: center;

      h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        margin-bottom: 0.5em;
        color: #3c3c3c;
      }

      p {
        font-family: Arial, Geneva, sans-serif;
        color: #7d7d7d;
        font-size: 17px;
        margin-bottom: 1em;
      }
    }

    // -------------- ALARM CONTROLS --------------
    .alarm-controls h2 {
      color: #0f1217;
      font-family: 'Montserrat', sans-serif;
      font-size: 27px;
      text-align: center;
      margin-bottom: 0;
    }
  }

  // -------------- ALARMS AUDIO CONFORT --------------
  .alarms-audio-confort {
    background: #fff url(/images/home/home-back-pattern.jpg) repeat;
    background-size: 1127px 528px;
    margin-bottom: -5px;
    padding-bottom: 30px;
    width: 100%;

    // --------- WRAPPER ---------
    .wrapper {
      width: 1080px;
      margin: 0 auto;

      // ---------- TITLE ----------
      .title {
        display: block;
        text-align: center;
        padding-top: 20px;

        img {
          max-width: 590px;
          width: 100%
        }
      }

      // ---------- Brands ----------
      .brands {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .brand {
          flex: 0 1 33%;
          display: flex;
          justify-content: center;

          img {
            height: auto;
            max-width: 350px;
            width: 100%;
          }

          a {
            color: #cb591e;
            font-size: 30px;
            display: block;
            text-decoration: none;
            font-weight: bold;
            text-align: center;
          }

          a:hover {
            color: #FF592C;
          }

          span {
            display: block;  
          }
        }
      }
    }
  }

  .avital-products {
    margin-bottom: -5px;
  }

  .alarms-specialists {
    border-top: solid 8px #cb591e;
    margin-bottom: -5px;
  }

  // VIPER CLIFFORD FEATURES
  .viper-clifford-features {
    display: none;
    padding: 15px 20px 30px;
    background-color: #ffffff;
    margin: 0 auto;
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .clifford-features {
      flex: 0 1 49%;

      img {
        width: 100%;
        max-width: 520px;
      }
    }

    .description {
      flex: 0 1 49%;

      h2 {
        color: #3f3f3f;
        font-size: 28px;
        text-align: center;
        font-weight: bold;
        margin-bottom: .25em;
      }

      p {
        font-size: 16px;
        text-align: left;
        color: #7d7d7d;
        text-align: justify;
        line-height: 20px;
      }
    }
  }
}