<IfModule mod_rewrite.c>
# Activar RewriteEngine
RewriteEngine on
 
RewriteRule ^alarmas/?$ alarmas.php
RewriteRule ^audio/?$ audio.php
RewriteRule ^confort/?$ confort.php
RewriteRule ^contacto/?$ contacto.php
</IfModule>