@media (max-width: 599px) {
  .header {
    height: 390px;
    border-bottom: 8px solid #cb591e;

    .left-background {
      width: 100%;
    }

    .middle-background {
      background: none;
    }

    .right-background {
      display: none;
    }

    .logo {
      margin-left: 0;
      margin: 40px auto 0;
      width: 100%;
      max-width: 350px;
      position: relative;
      left: 0;
      top: 10px;
    }

    .address {
      color: #3A3A3A;
      position: relative;
      margin: 1em .5em;
      left: 0;
      display: block;

      p {
        font-size: 16px;
        text-align: center;
      }

      .social-icons {
        display: block;
        margin: 15px auto 0;
        width: 150px;
      }
    }

    .main-menu {
      top: -40px;
      bottom: initial;
      #menu-button {
        background-color: #222;
        color: #ffffff;
        cursor: pointer;
        display: block;
        font-weight: bold;
        margin-bottom: 2px;
        padding: .75em 1em;
        text-align: center;
      }

      ul {
        display: none;
        width: 100%;

        li:first-child {
          margin-top: 0;
        }

        li.active a:hover {
          background-color: #000;
        }

        li {
          margin-top: -1px;
          a {
            padding-left: 1em;
            background-color: #222;
            &:hover {
              background-color: #cb591e;
            }
          }
          &:before,
          &:after {
            display: none;
          }
        }
      }
    }
  }

  .flex-caption {
    font-size: 1.4em;
    bottom: 38%;
  }

  .carousel, .flexslider {
    min-height: 0;
  }

  .carousel {
    top: 0;
    margin-bottom: 0;
  }

  .home-content {
    .security-alarms-group .alarm-controls {
      width: 100%;

      img {
        height: auto;
        width: 100%;
      }
    }

    .alarms-audio-confort {
      .wrapper {
        padding: 0 5%;
        width: 100%;
      }

      .brands {
        flex-direction: column;
      }
      
    }

    .security-alarms-group {
      .security-comfort,
      .alarm-controls {
        margin: 0 auto;
        width: 90%;
      }

      .security-comfort {
        padding-top: 1em;
        h2 {
          font-size: 18px;
        }
      }

      .alarm-controls h2 {
        font-size: 25px;
      }
    }

    .viper-clifford-features {
      display: block;
      width: 100%;

      .clifford-features {
        margin-bottom: 1em;
        text-align: center;
      }
    }
  }

  .alarms-content {
    .alarms {
      width: 90%;

      h2 {
        margin-top: .5em;
        padding: .25em 0;
        font-size: 1.5em;
      }

      .row {
        display: block;

        .column {
          margin-bottom: 1em;
          .title-botton {
            padding: 10px 15px;

            .moto-x {
              margin-bottom: 0;
            }

            h3 {
              font-size: 18px;
            }

            a.button {
              padding: 5px 10px;
              font-size: 14px;
            }

            a.button:before {
              display: none;
            }
          }


          img {
            margin-bottom: 28px;
          }

          .box {
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
            &:after {
              display: none;
            }
          }

        }

      }
    }

    .protect,
    .logos-wrapper,
    .banners-wrapper {
      width: 100%;
    }

    .protect {
      display: block;

      .banners-wrapper {
        display: block;
        padding: 0;
        text-align: center;

        .banner-v2,
        .banner-v4 {
          width: 100%;
          margin-bottom: 1em;
        }
      }
    }

    .logos-wrapper {
      display: none;
    }

    .banners-wrapper {
      display: block;

      .ontas-banner,
      .viper-banner {
        margin-bottom: 1em;
        width: 100%;
        text-align: center;
      }

      .ontas-banner .ontas-logo-mobile,
      .ontas-banner .directed-logo-mobile,
      .viper-banner .ontas-logo-mobile,
      .viper-banner .directed-logo-mobile {
        display: block;
        margin: 1em auto;
        box-shadow: none;
      }

      .ontas-banner .ontas-logo-mobile,
      .viper-banner .ontas-logo-mobile {
        max-width: 167px;
      }
      .ontas-banner .directed-logo-mobile,
      .viper-banner .directed-logo-mobile {
        max-width: 209px;
      }
    }

    .antiassault-film {
      display: block;
      width: 90%;
      .information,
      .side {
        width: 100%;
        img {
          margin: 0 auto 1em;
        }
        h2, p {
          margin-bottom: 1em;
        }
      }
    }

    .max-limit {
      display: block;
      width: 90%;
      .information,
      .side {
        width: 100%;
        img {
          display: inline-block;
          margin: 0 auto 1em;
        }
      }
    }
  }

  .product-content {
    margin-top: 20px;
    width: 90%;

    .wrapper {
      display: block;

      .product-image {
        margin-bottom: 20px;
      }

      .description-features {
        .description {
          margin-bottom: 1em;
        }
      }
    }

    .back-btn {
      position: static !important;
      text-align: center;
      background-color: #cb591e;
    }

    p {
      margin-left: 0;
    }
  }

  .audio-content {
    .row,
    .directed-logo,
    .information {
      margin-top: 1em;
      width: 90%;
    }
    .row {
      display: block;
    }
    .row .column {
      width: 100%;
      margin-bottom: 1em;
    }
    .information {
      margin-bottom: 1em;
      text-align: center;
      line-height: 1.4em;
      letter-spacing: 2px;
      font-size: 18px;
    }
  }

  .confort-content {
    margin: 1em auto;
    width: 90%;
    .locker-sensor {
      display: block;
      .locker,
      .sensor {
        display: block;
        width: 100%;
        .product-image {
          box-shadow: none;
          border: none;
          text-align: center;
          height: auto;
          margin-right: 0;
        }
        .description {
          margin: 0 0 1em;
          h3 {
            text-align: center;
          }
          li {
            margin-bottom: .5em;
          }
        }
      }
    }

    .photocel-sensor {
      display: block;
      .photocel,
      .retro-sensor {
        width: 100%;
        .description {
          margin-bottom: 0 0 1em;
          h3 {
            text-align: center;
          }
          p {
            text-align: justify;
            font-size: 17px;
            line-height: 22px;
          }
        }
      }
    }

    .photocel-sensor .retro-sensor .product-image {
      border: none;
      box-shadow: none;
      width: 100%;
      text-align: center;
      margin: 0 0 1em;
    }

    .camera,
    .parrot,
    .parrot-mini,
    .pka,
    .tom-tom,
    .simple,
    .easy-go {
      display: block;
    }

    .camera,
    .parrot,
    .parrot-mini,
    .pka,
    .tom-tom,
    .simple,
    .easy-go {
      .product-image {
        border: none;
        box-shadow: none;
        width: 100%;
        text-align: center;
      }
    }

    .camera,
    .parrot,
    .parrot-mini,
    .pka,
    .tom-tom,
    .simple,
    .easy-go {
      .description h3 {
        text-align: center;
      }
    }

    .camera,
    .parrot,
    .parrot-mini,
    .pka,
    .tom-tom,
    .simple,
    .easy-go {
      .description p {
        text-align: justify;
        font-size: 17px;
        line-height: 22px;
      }
    }

    .camera,
    .parrot,
    .parrot-mini,
    .pka,
    .tom-tom,
    .simple,
    .easy-go {
      .description li {
        font-size: 16px;
        margin: 1em 0;
      }
    }

    .camera,
    .parrot,
    .parrot-mini,
    .pka,
    .tom-tom,
    .simple,
    .easy-go {
      .product-logo {
        width: 100%;
        text-align: center;
      }
    }

    .simple .bottom-description ul {
      width: 100%;
      margin-left: 1em;
    }

    .easy-go .product-image {
      margin-bottom: 1em;
    }

  }

  .contact-content {
    width: 90%;

    h2 {
      margin-top: .5em;
    }

    .message {
      font-size: 18px;

      span {
        display: block;
      }
    }


    .form {
      .form-inputs {
        display: block;

        div {
          display: block;
          margin-bottom: .5em;
          width: 100%;
        }
      }

      .checkbox span {
        display: block;
        margin-bottom: .5em;
      }

      .buttons button {
        width: 48%;
        margin-bottom: 1em;

        &:first-child {
          margin-right: 2%;
        }
      }

    }

    .address {
      display: block;
      .address-1,
      .address-2 {
        margin: 0 auto 1.5em;
        width: 100%;
        .information {
          margin-top: -5px;
        }
      }
    }
  }

  .footer {
    padding: 1em .75em;

    .copyright span {
      margin-top: .5em;
      display: block;
    }
  }

}