/* Medium 600px */
@media (min-width: 600px) and (max-width: 959px) {
  .header {
    min-height: 260px;
    border-bottom: 7px solid #cb591e;

    .left-background {
      width: 100%;
    }

    .right-background {
      display: none;
    }

    .middle-background {
      background: none;
    }

    .logo {
      position: relative;
      left: inherit;
      top: inherit;
      margin: 0 auto;
      padding-top: 15px;
    }

    .main-menu ul {
      width: 100%;
    }

    .address {
      color: #3A3A3A;
      margin-bottom: 20px;
      position: relative;
      left: inherit;
      top: inherit;
      z-index: 10;
      display: flex;
      justify-content: center;

      p {
        font-size: 11px;
      }

      .left-column {
        margin: 0 20px 0 0;
        flex: 0 0 360px;
      }

      .right-column {
        flex: 0 0 150px;
      }
    }
  }

  .flex-caption {
    font-size: 1.4em;
    bottom: 38%;
  }

  .carousel, .flexslider {
    min-height: 150px;
  }

  .carousel {
    top: 0;
    margin-bottom: 0;
  }

  .home-content {
    .security-alarms-group .alarm-controls {
      width: 100%;

      img {
        height: auto;
        width: 100%;
      }
    }

    .alarms-audio-confort .wrapper {
      margin: 0 auto;
      width: 95%;
    }

    .security-alarms-group {
      padding-top: 1.5em;
    }

    .security-alarms-group {
      .security-comfort {
        margin: 0 auto;
        width: 90%;
      }  
    }

    .viper-clifford-features {
      display: block;
      width: 100%;
    }

    .viper-clifford-features .description {
      width: 100%;
    }

    .viper-clifford-features .clifford-features {
      text-align: center;
      margin-bottom: 1em;
    }

    .viper-clifford-features .description p {
      font-size: 18px;
    }
  }

  .alarms-content {
    width: 95%;
    margin: 0 auto;

    .alarms {
      margin-top: 1em;
      width: 100%;
      .row {
        flex-wrap: wrap;
        .column {
          flex: 0 1 48%;
          margin-bottom: 1em;
          .box {
            padding-bottom: 40px;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);

            &:after {
              display: none;
            }
          }

          .title-botton {
            padding: 10px;
            height: auto;
            h3 {
              font-size: 20px;
            }
            a.button {
              padding: .5em 1em;
              font-size: 14px;
              &:before {
                display: none;
              }
            }
          }
        }
      }
    }

    .protect {
      padding: 0;
      margin-bottom: 1em;
      width: 100%;

      .protect-logo {
        width: 100%;
      }

      .banners-wrapper {
        padding: 0;
        display: block;
        width: 100%;
      }

      .banners-wrapper .banner-v2,
      .banners-wrapper .banner-v4 {
        margin-bottom: 2em;
        text-align: center;
        width: 100%;
      }

      .banners-wrapper .banner-v2 img,
      .banners-wrapper .banner-v4 img {
        max-width: 472px;
      }
    }

    .logos-wrapper {
      display: none;
    }

    .banners-wrapper {
      display: block;
      padding: 0;
      text-align: center;
      width: 100%;

      .ontas-logo-mobile,
      .directed-logo-mobile {
        display: block;
        margin: 1em auto;
        box-shadow: none;
      }

      .ontas-banner,
      .viper-banner {
        width: 100%;
        margin-bottom: 1em;
      }

      .ontas-banner .ontas-logo-mobile {
        width: 167px;
      }

      .viper-banner .directed-logo-mobile {
        width: 209px;
      }
    }

    .antiassault-film {
      width: 100%;

      .information {
        width: 55%;

        h2 {
          margin-bottom: 1em;
        }
      }

      .side {
        width: 40%;

        img {
          margin: 1em auto;
        }
      }
    }

    .max-limit {
      width: 100%;

      .information {
        width: 50%;
      }
    }
  }

  .product-content {
    margin-top: 20px;
    width: 90%;
  }

  .audio-content {
    margin: 1em auto;
    width: 95%;

    .row,
    .directed-logo,
    .information {
      width: 100%;
    }

    p {
      margin-top: 1em;
    }

    .row .column {
      width: 49%;
    }
  }

  .confort-content {
    margin: 1em auto;
    width: 95%;

    .locker-sensor {
      display: block;

      .locker, .sensor {
        padding-bottom: 1em;
        height: auto;
        width: 100%;
      }
    }

    .photocel-sensor {
      display: block;

      .photocel,
      .retro-sensor {
        width: 100%;
      }
    }

    .parrot {
      .description ul {
        margin-top: 1em;
      }
    }

    .tom-tom {
      display: block;
      .product-image {
        border: none;
        box-shadow: none;
        padding: 0;
        margin-bottom: 20px;
        height: auto;
      }
      .product-logo {
        display: block;
        margin-top: 20px;
        text-align: center;
      }
    }

    .pka .product-image {
      flex: 0 0 150px;
      margin-right: 1em;
    }

    .simple .product-image {
      margin-right: 2em;
    }

    .easy-go .product-image {
      flex: 0 0 45%;
      margin-right: 20px;

      .description {
        text-align: justify;
      }
    }
  }

  .contact-content {
    width: 90%;

    h2 {
      margin-top: 1rem;
    }
  }
}