/* 960px */
@media (min-width: 960px) and (max-width: 1279px) {
  .header {
    width: 100%;
    .left-background {
      width: 100%;
    }

    .middle-background {
      background: none;
    }

    .logo {
      margin-left: 0;
      left: 20px;
      top: 12px;
      width: 290px;
    }

    .address {
      color: #3A3A3A;
      left: 35%;
      position: absolute;
      top: 7px;
      z-index: 10;
    }

    .address p {
      font-size: .9em;
    }

    .main-menu ul {
      width: 100%;
    }
  }

  .flex-caption {
    font-size: 1.6em;
    bottom: 40%;
  }

  .carousel, .flexslider {
    min-height: 200px;
  }

  .carousel {
    top: 0;
    margin-bottom: 0;
    width: 100%;
  }

  .home-content,
  .alarms-content,
  .audio-content {
    width: 100%;
  }

  .confort-content,
  .contact-content {
    width: 95%; 
  }

  .home-content {
    .alarm-controls img {
        height: auto;
        width: 100%;
    }

    .alarms-audio-confort .wrapper {
      width: 100%;
      margin: 0 auto;
    }

    .viper-clifford-features {
      width: 100%;
    }
  }

  .product-content {
    width: 95%;
  }

  .footer {
    width: 100%;
  }
}