/* ------------------- 1360px ------------------- */
@media (min-width: 1360px) and (max-width: 1439px) {
  .flex-caption {
    font-size: 2.2em;
    bottom: 36%;
  }
  .carousel, .flexslider {
    min-height: 325px;
  }
}