/* -------------------- 1680px -------------------- */
@media (min-width: 1680px) and (max-width: 1919px) {
  .flex-caption {
    font-size: 2.8em;
    bottom: 40%;
  }
  .carousel, .flexslider {
    min-height: 300px;
  }
}