/* Medium 600px */
@media (min-width: 600px) and (max-width: 959px) {
  .header .left-background {
    width: 100%;
  }
  .header .middle-background {
    background: none;
  }
  .header .logo {
    margin-left: 0;
    left: 20px;
    top: 25px;
    width: 200px;
  }
  .header .address {
    color: #3A3A3A;
    left: 32%;
    position: absolute;
    z-index: 10;
    top: 7px;
  }
  .header .address p {
    font-size: .7em;
  }
  .header .main-menu ul {
    width: 100%;
  }
  .flex-caption {
    font-size: 1.4em;
    bottom: 38%;
  }
  .carousel, .flexslider {
    min-height: 150px;
  }
  .carousel {
    top: 0;
    margin-bottom: 0;
  }
  .alarms-audio-confort .wrapper {
    width: 95%;
    margin: 0 auto
  }
  .home-content .security-alarms-group {
    padding-top: 1.5em;
  }
  .home-content .security-alarms-group .security-comfort,
  .home-content .security-alarms-group .alarm-controls {
    margin: 0 auto;
    width: 90%;
  }  
  .viper-clifford-features {
    display: block;
    width: 100%;
  }
  .viper-clifford-features .description {
    width: 100%;
  }
  .viper-clifford-features .clifford-features {
    text-align: center;
    margin-bottom: 1em;
  }
  .viper-clifford-features .description p {
    font-size: 18px;
  }
  .alarms-content {
    width: 95%;
    margin: 0 auto;
  }
  .alarms-content .alarms {
    margin-top: 1em;
    width: 100%;
  }
  .alarms-content .alarms .row {
    flex-wrap: wrap;
  }
  .alarms-content .alarms .row .column {
    flex: 0 1 48%;
    margin-bottom: 1em;
  }
  .alarms-content .alarms .row .column .box {
    padding-bottom: 40px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  }
  .alarms-content .alarms .row .column .box:after {
    display: none;
  }
  .alarms-content .alarms .row .column .title-botton {
    padding: 10px;
    height: auto;
  }
  .alarms-content .alarms .row .column .title-botton h3 {
    font-size: 20px;
  }
  .alarms-content .alarms .row .column .title-botton a.button {
    padding: .5em 1em;
    font-size: 18px;
  }
  .alarms-content .alarms .row .column .title-botton a.button:before {
    display: none;
  }
  .alarms-content .protect {
    padding: 0;
    margin-bottom: 1em;
    width: 100%;
  }
  .alarms-content .protect .protect-logo {
    width: 100%;
  }
  .alarms-content .protect .banners-wrapper {
    padding: 0;
    display: block;
    width: 100%;
  }
  .alarms-content .protect .banners-wrapper .banner-v2, .alarms-content .protect .banners-wrapper .banner-v4 {
    margin-bottom: 2em;
    text-align: center;
    width: 100%;
  }
  .alarms-content .protect .banners-wrapper .banner-v2 img, .alarms-content .protect .banners-wrapper .banner-v4 img {
    max-width: 472px;
  }
  .alarms-content .logos-wrapper {
    display: none;
  }
  .alarms-content .banners-wrapper {
    display: block;
    padding: 0;
    text-align: center;
    width: 100%;
  }
  .alarms-content .banners-wrapper .ontas-logo-mobile,
  .alarms-content .banners-wrapper .directed-logo-mobile {
    display: block;
    margin: 1em auto;
    box-shadow: none;
  }
  .alarms-content .banners-wrapper .ontas-banner,
  .alarms-content .banners-wrapper .viper-banner {
    width: 100%;
    margin-bottom: 1em;
  }
  .alarms-content .banners-wrapper .ontas-banner .ontas-logo-mobile {
    width: 167px;
  }
  .alarms-content .banners-wrapper .viper-banner .directed-logo-mobile {
    width: 209px;
  }
  .alarms-content .antiassault-film {
    width: 100%;
  }
  .alarms-content .antiassault-film .information {
    width: 55%;
  }
  .alarms-content .antiassault-film .information h2 {
    margin-bottom: 1em;
  }
  .alarms-content .antiassault-film .side {
    width: 40%;
  }
  .alarms-content .antiassault-film .side img {
    margin: 1em auto;
  }
  .alarms-content .max-limit {
    width: 100%;
  }
  .alarms-content .max-limit .information {
    width: 50%;
  }
  .product-content {
    margin-top: 20px;
    width: 90%;
  }
  .audio-content {
    margin: 1em auto;
    width: 95%;
  }
  .audio-content .row,
  .audio-content .directed-logo,
  .audio-content .information {
    width: 100%;
  }
  .audio-content p {
    margin-top: 1em;
  }
  .audio-content .row .column {
    width: 49%;
  }
  .confort-content {
    margin: 1em auto;
    width: 95%;
  }
  .confort-content .locker-sensor {
    display: block;
  }
  .confort-content .locker-sensor > div {
    padding-bottom: 1em;
    height: auto;
    width: 100%;
  }
  .confort-content .photocel-sensor {
    display: block;
  }
  .confort-content .photocel-sensor .photocel,
  .confort-content .photocel-sensor .retro-sensor {
    width: 100%;
  }
  .confort-content .pka .product-image {
    flex: 0 0 150px;
    margin-right: 1em;
  }
  .confort-content .simple .product-image {
    margin-right: 2em;
  }
  .confort-content .easy-go .product-image {
    flex: 0 0 45%;
    margin-right: 20px;
  }
  .confort-content .easy-go .description {
    text-align: justify;
  }
  .contact-content {
    width: 90%;
  }
  .contact-content h2 {
    margin-top: 1rem;
  }
}