@media (max-width: 959px) {
  .thanks-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .thanks-content .wrapper {
    display: block;
    vertical-align: inherit;
    margin-top: 5%;
    width: 90%;
  }
  .thanks-content .message {
    height: 200px;
    margin: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .thanks-content h2 {
    font-size: 1.2em;
  }
}